{
	"presets": [
		[
			"env",
			{
				"targets": {
					"browsers": ["last 2 versions", "safari >= 7"]
				},
				"loose": true
			}
		],
		"react"
	],
	"plugins": [
		["emotion", { "hoist": true }],
		"syntax-dynamic-import",
		"transform-class-properties",
		"transform-object-rest-spread",
		"lodash"
	]
}
