.ad-actionbuttons {
	position: absolute;
	right: 0;
	top: 0;
	width: auto;
	height: 100%;
	z-index: 2;
	.dropdown-menu {
		min-width: 5px;
		padding: 0;
		margin: 0;
	}
	.delete {
		padding: 10px;
		font-size: 18px;
	}
}