#root {
	height: 100%;
}

.app-container {
	padding: 0;
	height: 100%;
	position: relative;
	padding: 0;
}

#dashboard-container {
	padding: 100px 0 0 0;
	overflow: auto;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(237, 241, 242, 0.2);
	.page-info {
		margin: 0 0 15px 0;
		.page-title {
			margin: 0 0 5px 0;
		}
	}
}
