.appList {
	.appcard {
		margin: 15px 0;

		.well {
			position: relative;
			margin: 0;
			padding: 0;
			height: 100%;
			overflow: hidden;
			background: #fff;
			border: 0;
			border-left: 3px solid $primary-color;
			box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
			border-radius: 0;
			border-top-right-radius: 0.375rem;
			border-bottom-right-radius: 0.375rem;
			-webkit-transition: all .3s ease;
			transition: all .3s ease;

			&:hover {
				box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);

				aside.options {
					right: 0;
				}
			}

			&.app-list-item {
				cursor: pointer;
				padding: 25px;

				.title {
					margin: 0 0 20px;
					letter-spacing: 0.02em;
					color: #666;
					font-size: 22px;
					font-family: $font-semi-bold;
				}

				.progress-wrapper {
					float: left;
					width: 40px;
					height: 40px;
					display: inline-block;
				}

				.progress-text {
					float: left;
					padding-left: 12px;
					letter-spacing: 0.02em;
					word-spacing: 0.1em;
					color: #888;
					padding-top: 6px;
					font-size: 11px;
					line-height: 14px;
				}

				.sub-title {
					font-family: $font-semi-bold;
					text-transform: uppercase;
					color: #aaa;
					font-size: 12px;
					letter-spacing: 0.02em;
					padding: 6px 3px 18px;
				}

				.time {
					height: 20px;
					margin: 0;
					color: #999;
				}
			}

			aside.options {
				width: 25px;
				height: 100%;
				position: absolute;
				top: 0;
				right: -25px;
				background-color: #f2f4f2;
				text-align: center;
				border-left: #ddd;
				-webkit-transition: all .3s ease;
				transition: all .3s ease;

				.options-item {
					padding: 5px 0;
					border-bottom: 1px solid #ddd;
					color: #666;

					.card-icon {
						color: #666;

						&:hover {
							color: #424242;
						}
					}

					&:hover {
						background-color: #ccc;
					}

					&.bottom {
						position: absolute;
						width: 100%;
						border: 0;
						bottom: 0
					}
				}
			}
		}

		.new-app {
			padding: 0;
			div {
				padding-left: 0;
			}

			p {
				text-transform: uppercase;
				text-align: left;
				color: #666;
				font-family: $font-semi-bold;
			}

			input {
				padding: 6px 10px 4px;
				height: 46px;
				border: 0;
				border-bottom: 2px solid #ccc;
				box-shadow: none;
				background-color: #f4f4f4;

				&:focus {
					box-shadow: 0 0.3125em 1.25em 0 rgba(46,61,73,.06);
					background-color: #fafafa;
				}
			}

			button {
				text-transform: uppercase;
				font-size: 14px;
				font-family: $font-semi-bold;
				letter-spacing: 0.05em;
				padding: 8px;
				height: 46px;
			}
		}
	}

	.head-row {
		background: #fff;
		padding: 15px 15px 25px;
		font-size: 14px;
		margin: 0 0 15px 0;
		border-bottom: 1px solid #eee;

		h3 {
			font-size: 22px;
			letter-spacing: 0.01em;
			margin-top: 10px;
			font-family: $font-semi-bold;
		}

		ul {
			list-style: none;
			margin: 0;
			line-height: 24px;
			padding: 0 2px;
		}
	}
}

.apps-container {
	padding-bottom: 40px;
}