.appList {
	.appcard {
		margin-bottom: 15px;
		.well {
			margin: 0;
			padding: 0;
			height: 100%;
			background: #fff;
			&.app-list-item {
				cursor: pointer;
				padding: 15px;
				.title {
					margin-top: 0;
				}
				.progress-wrapper {
					float: left;
					width: 40px;
					height: 40px;
					display: inline-block;
				}
				.progress-text {
					float: left;
					padding-left: 5px;
				}
				.sub-title {
				}
				&:hover {
					box-shadow: 0 1px 1px 1px rgba(0,0,0,.1);
					-webkit-box-shadow: 0 1px 1px 1px rgba(0,0,0,.1);
				}
			}
		}
	}
	.head-row {
		background: #fff;
		padding: 15px;
		margin: 0 0 15px 0;
		border-bottom: 1px solid #e5e5e5;
		box-shadow: 0 3px 2px -2px rgba(0,0,0,.1);
		-webkit-box-shadow: 0 3px 2px -2px rgba(0,0,0,.1);
	}
}