.appList, .singleApp {
	margin: 0;
	position: relative;
	padding: 30px;
	.app-card-container {
		padding: 15px 30px 15px 0;
	}
	.app-card {
		border-radius: 8px;
		background: $dark-grey;
		padding: 12px;
		text-align: center;
		border: 6px solid transparent;
		&.new-app {
			border: 6px dotted $dark-grey;
			background: #fff;
		}
		.caption {
			font-size: 1.2rem;
			line-height: 39px;
		}
		.title {
			font-size: 1.5rem;
			line-height: 2.5rem;
			marker-top: 15px;
			a {
				width: 100%;
				display: block;
				background: darken($dark-grey, 10%);
				color: #fff;
				&:hover {
					background: $primary-color;
					text-decoration: none;
				}
			}
		}
		.app-card-progress {
			.app-card-progress-container {
				height: 100px;
				width: 100px;
				margin: auto;
				position: relative;
				margin-bottom: 15px;
				&.plus-icon {
					border: 1px solid $grey-font;
					border-radius: 50%;
					color: $grey-font;
					font-size: 70px;
					font-family: $font-extra-light;
				}
				.appCount {
					position: absolute;
					width: 100%;
					height: 100%;
					display: flex;
					left: 0;
					top: 0;
					margin: auto;
					display: flex;
					-webkit-box-align: center;
					-webkit-align-items: center;
					align-items: center;
					-webkit-box-pack: center;
					-webkit-justify-content: center;
					justify-content: center;
				}
			}
		}
		&.permissionView {
			.permission-row {
				padding: 5px 0;
				text-align: left;
				.key {
					text-transform: uppercase;
				}
				.value {
					user-select: all;
					-moz-user-select: all;
					-khtml-user-select: all;
					-webkit-user-select: all;
					-o-user-select: all;
				}
			}
		}
	}
}

#dashboard {
	height: 100%;
}

.app-container {
	padding: 0;
	height: 100%;
	position: relative;
	padding: 76px 0 0 76px;
}

#dashboard-container {
	padding: 76px 0 0 0;
	position: absolute;
	right: 0;
	top: 0;
	overflow: auto;
	height: 100%;
	width: 100%;
	.page-info {
		margin: 0 0 15px 0;
		.page-title {
			margin: 0 0 5px 0;
		}
		.page-description {}
	}
}

.loadingContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	.loading {
		max-width: 50%;
		padding: 15px;
		background: $primary-color;
		border-radius: 6px;
		color: #fff;
		font-size: 18px;
		span {
			float: right;
			line-height: 60px;
		}
	}
	&.normal {
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		.loading {
			width: 100%;
			max-width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			span {
				float: none;
				line-height: 1rem;
			}
		}
	}
}
