#pricing-page {
	.flex {
		display: flex;
		@media all and (max-width: 1280px) {
			flex-direction: column;
		}
	}
	.appbase-logo {
		height: 2rem;
	}
	.plan-button {
		margin-top: -90px;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	.toggleButton {
		.btn {
			border-radius: 20px;
			background: $n-lblue;
			color: $blue-pricing;
			font-family: $font-regular;
			font-weight: 600;
			letter-spacing: 1px;
			font-size: 0.9rem;
			padding: 0.7em 2em;
			outline: none;
			&.left {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
			&.right {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				margin-left: -4px;
			}
			&.active {
				opacity: 1;
				font-size: 1.1rem;
				background: $n-green;
				color: $dgreen-17;
				box-shadow: none;
				position: relative;
			}
		}
	}
	.plan-bottomline {
		margin-top: 15px;
		color: $n-navy;
		font-size: 1.2rem;
		font-family: $font-regular;
		font-weight: 600;
	}
	.new-btn {
		font-size: 1rem;
		font-family: $font-regular;
		font-weight: 600;
		text-transform: uppercase;
		background: $n-green;
		color: $d-green;
		padding: 15px 30px;
		height: auto;
		letter-spacing: 1px;
		border-radius: 3px;
		border: 0;
		outline: none;
		transition: all 0.3s ease-in-out;
		@include btn-shadow();
		&:active,
		&:focus,
		&:hover,
		&:link,
		&:visited {
			background: lighten($n-green, 5%);
		}
		&.subscribed {
			background: $n-navy;
			color: #fff;
			&:active,
			&:focus,
			&:hover,
			&:link,
			&:visited {
				color: #fff !important;
				background: lighten($n-navy, 5%);
			}
		}
	}
	#top-container {
		background: $lblue;
		padding-bottom: 50px;
	}
	#cards {
		margin-top: -210px;
		margin-bottom: 40px;
		@media all and (max-width: 1278px) {
			margin-top: -230px;
		}
		@media all and (max-width: 980px) {
			margin-top: -190px;
		}
		@media all and (max-width: 768px) {
			margin-top: -150px;
		}
		.price-header {
			font-size: 2.1rem;
			text-transform: uppercase;
			font-family: $font-regular;
			font-weight: 700;
			text-align: center;
			margin: 15px 0;
		}
		.cards-container {
			display: flex;
			margin: 0 5rem;
			@media all and (max-width: 1278px) {
				margin: 0 1rem;
			}
			@media all and (max-width: 400px) {
				margin: 0;
			}
			margin-top: -20px;
			#free-card {
				.price-card {
					.description {
						background: rgba(134, 221, 248, 0.5);
						height: 500px;
					}
					.title {
						background: rgba(134, 221, 248, 0.5);
					}
				}
				.text-container {
					.figure.light {
						font-size: 1.2rem;
						color: $n-navy;
					}
				}
			}
			#bootstrap-card {
				.price-card {
					.description {
						background: rgba(59, 199, 246, 0.5);
						height: 500px;
					}
					.title {
						background: rgba(59, 199, 246, 0.5);
					}
					.big-description {
						font-size: 1.2rem;
						font-family: $font-regular;
						font-weight: 700;
						margin: 20px 0 20px 20px;
						&:before {
							content: '\2022';
						}
					}
				}
			}
			#growth-card {
				.price-card {
					.description {
						background: rgba(36, 216, 228, 0.5);
						height: 500px;
					}
					.title {
						background: rgba(36, 216, 228, 0.5);
					}
					.big-description {
						font-size: 1.2rem;
						font-family: $font-regular;
						font-weight: 700;
						margin: 20px 0 20px 20px;
						&:before {
							content: '\2022';
						}
					}
				}
			}
			.single-card-container {
				padding-left: 40px;
				padding-right: 40px;
				@media all and (max-width: 1400px) {
					padding-left: 30px;
					padding-right: 30px;
				}
				@media all and (max-width: 1200px) {
					padding-left: 10px;
					padding-right: 10px;
				}
				.price-card {
					border-radius: 10px;
					height: 100%;
					padding-bottom: 110px;
					@media all and (max-width: 1150px) {
						padding-bottom: 20px;
					}
					.plan-price {
						letter-spacing: -5px;
					}
					.title {
						background: #3bc7f6;
						color: $n-navy;
						font-size: 8rem;
						font-family: $font-regular;
						font-weight: 300;
						text-align: center;
						border-top-left-radius: 10px;
						border-top-right-radius: 10px;
						position: relative;
						display: flex;
						flex-direction: column;
						justify-content: center;
						min-height: 220px;
						@media all and (max-width: 768px) {
							min-height: auto;
						}
						.unit {
							font-size: 2.5rem;
							font-family: $font-regular;
							font-weight: 600;
						}
						.superscript {
							font-size: 20px;
							text-transform: uppercase;
							position: absolute;
							width: 100%;
							height: auto;
							text-align: center;
							top: -60px;
							font-size: 2rem;
							left: 0;
							font-family: $font-regular;
							font-weight: 700;
						}
						.subscript {
							font-size: 1.4rem;
							height: auto;
							text-align: center;
							font-family: $font-regular;
							font-weight: 600;
						}
					}
					.description {
						color: $n-navy;
						list-style: none;
						padding-left: 0;
						border-bottom-left-radius: 10px;
						border-bottom-right-radius: 10px;
						li {
							position: relative;
							padding: 40px;
							padding-top: 30px;
							@media all and (max-width: 1278px) {
								padding-bottom: 20px;
							}
							.logo-link {
								text-decoration: none;
								padding-bottom: 3px;
								border-bottom: 1px solid;
								color: $n-navy;
								&:hover {
									color: $n-navy;
								}
								@media all and (max-width: 1320px) {
									font-size: 1rem;
								}
							}
							&.with-icon {
								padding-left: 100px;
							}
							.img-center {
								margin: 0 auto;
								padding: 0 30px;
							}
							.icon-container {
								position: absolute;
								left: 50px;
								top: 18px;
								width: 40px;
								height: 70px;
								padding: 15px 0;
							}
							.text-container {
								font-family: $font-regular;
								font-weight: 300;
								.big-description {
									font-size: 1.8em;
									line-height: 1em;
									font-family: $font-regular;
									&.list-bottom-gap {
										margin-bottom: 20px;
									}
								}
								.figure {
									font-size: 1.4em;
									line-height: 1.9em;
									font-family: $font-regular;
									font-weight: 700;
								}
								.summary {
									font-family: $font-regular;
									font-weight: 300;
									@media all and (max-width: 1278px) {
										margin-left: -3px;
										margin-top: -10px;
									}
								}
								.small-fonts {
									position: absolute;
									font-size: 1em;
								}
							}
							&.subscribe-li {
								bottom: 15px;
								left: 0;
								width: 100%;
								padding-left: 60px;
								padding-right: 60px;
								color: $dgreen-17;
							}
						}
					}
					.new-btn {
						width: 100%;
						display: inline-block;
						&.subscribed {
							color: #fff;
						}
					}
				}
				@media screen and (max-width: 1150px) {
					flex-direction: column;
					align-items: center;
				}
				@media screen and (max-width: 1300px) {
					.single-card-container {
						padding: 0 15px;
					}
				}
			}
			@media screen and (max-width: 980px) {
				display: block;
				.single-card-container {
					margin-bottom: 100px;
					padding: 0 150px;
					&#free-card,
					&#bootstrap-card,
					&#growth-card {
						.price-card {
							.title {
								padding-top: 40px;
							}
						}
					}
					.price-card {
						.title {
							line-height: 86px;
							.superscript {
								top: -70px;
							}
							.subscript {
								right: 35%;
								bottom: -20px;
							}
						}
						.description {
							position: relative;
							li {
								&.subscribe-li {
									bottom: -120px;
								}
								.img-center {
									max-width: 250px;
								}
							}
						}
					}
				}
			}
			@media screen and (max-width: 768px) {
				.single-card-container {
					padding: 0 60px;
				}
			}
			@media screen and (max-width: 480px) {
				.single-card-container {
					padding: 0 15px;
				}
			}
		}
	}
	#dedicated-card {
		background: #bbdefb;
		color: $n-navy;
		padding-top: 40px;
		padding-bottom: 40px;
		h3 {
			font-size: 4em;
			font-family: $font-regular;
			font-weight: 300;
			padding-bottom: 30px;
			.figure {
				font-size: 2em;
			}
			.unit {
				font-size: 14px;
			}
		}
		.orange-btn {
			font-family: $font-regular;
			background: #ffb74d;
		}
		.description {
			color: $n-navy;
			list-style: none;
			padding-left: 0;
			&.right-description {
				padding-top: 5px;
				li {
					padding: 5px 20px;
				}
			}
			li {
				position: relative;
				padding: 10px 20px;
				&.with-icon {
					padding-left: 80px;
				}
				.img-center {
					margin: 0 auto;
				}
				.icon-container {
					position: absolute;
					left: 8px;
					top: 14px;
					width: 70px;
					height: 40px;
					padding: 0 15px;
				}
				.text-container {
					font-family: $font-regular;
					font-weight: 300;
					.figure {
						font-size: 1.8em;
						font-family: $font-regular;
						font-weight: 700;
						&.regular {
							font-family: $font-regular;
						}
					}
					.summary {
						font-family: $font-regular;
						font-weight: 300;
						font-size: 1em;
					}
				}
			}
		}
	}
	#how {
		background: #fff;
		color: $n-navy;
		padding-top: 40px;
		padding-bottom: 40px;
		h3 {
			font-size: 3em;
			font-family: $font-regular;
			font-weight: 600;
			padding-bottom: 30px;
			text-transform: uppercase;
		}
		.single-point {
			font-family: $font-regular;
			font-weight: 700;
			margin-bottom: 80px;
			h4.title {
				font-size: 2em;
				font-family: $font-regular;
			}
			.img-container {
				img {
					max-width: 130px;
					padding: 15px;
					margin: 0 auto;
					&.special-img {
						max-width: 300px;
						width: 300px;
						&.node-img {
							padding-bottom: 20px;
						}
					}
				}
			}
		}
	}
}

.pricing-top {
	margin-top: 0;
	padding-top: $navbar-height + 50px;
	text-align: center;
	color: white;
	padding-top: 20px;
	color: $n-lblue;
	p {
		margin-bottom: 0;
		font-size: 24px;
		font-family: $font-regular;
		font-weight: 300;
	}
	h1 {
		padding-bottom: 40px;
		font-family: $font-regular;
		font-weight: 700;
		color: $n-navy;
		font-size: 3.3em;
		@media all and (max-width: 768px) {
			font-size: 3em;
		}
	}
	.signup-row {
		padding-top: 30px;
		.new-btn {
			color: $n-navy !important;
			font-family: $font-regular;
			font-weight: 600;
		}
	}
}

#pricing-container {
	section {
		padding-top: 80px;
	}
	#pricing-table {
		.title {
			text-transform: uppercase;
			color: $n-navy;
			font-family: $font-regular;
			font-weight: 600;
			margin-bottom: 15px;
			font-size: 2.5em;
			letter-spacing: 2px;
		}
		.pricing .line .plan-title b {
			color: $n-navy;
			font-family: $font-regular;
			font-weight: 600;
		}
	}
	#faq-container {
		background: $light-gray;
		padding-top: 40px;
		padding-bottom: 40px;
		.btitle {
			text-transform: uppercase;
			color: $n-navy;
			font-family: $font-regular;
			font-weight: 600;
			font-size: 2.5em;
			letter-spacing: 2px;
			margin-top: 20px;
			margin-bottom: 30px;
			padding: 0;
		}
		#feature-body .faq h2 {
			color: $n-navy;
			font-family: $font-regular;
			font-size: 2em;
		}
	}
}

#paymentModal {
	.modal-dialog {
		width: 300px;
		top: 20px;
		.modal-content {
			display: inline-block;
			border-radius: 6px;
			width: 300px;
			position: relative;
			background-color: #f5f5f7;
			box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.5), inset 0 1px 0 0 hsla(0, 0%, 100%, 0.65);
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			border: 0;
			.modal-header {
				padding: 12px 36px;
				text-align: center;
				background-color: #e8e9eb;
				border-top-left-radius: 6px;
				border-top-right-radius: 6px;
				h4 {
					font-size: 17px;
					font-weight: 700;
					color: #000;
					text-shadow: 0 1px 0 #fff;
					text-align: center;
				}
				.bottomline {
					font-size: 13px;
					font-weight: 500;
					color: #5b5b65;
					text-shadow: 0 1px 0 #fff;
					padding-bottom: 6px;
				}
				.close {
					background: #222;
					width: 20px;
					height: 20px;
					border-radius: 50%;
					color: #f5f5f7;
					font-size: 12px;
					position: absolute;
					right: 10px;
					text-align: center;
					padding-left: 0;
					z-index: 1;
				}
				.Header-logo {
					position: relative;
					margin-bottom: 6px;
					height: 35px;
					.Header-logoWrap {
						position: absolute;
						top: -38px;
						right: 0;
						left: 0;
						width: 70px;
						height: 70px;
						margin: 0 auto;
					}
					.Header-logoBevel {
						border: 1px solid rgba(0, 0, 0, 0.2);
						width: 64px;
						height: 64px;
						border-radius: 100%;
						box-shadow: inset 0 1px 0 0 hsla(0, 0%, 100%, 0.1);
						position: absolute;
						top: 3px;
						left: 3px;
					}
					.Header-logoBorder {
						border: 3px solid #fff;
						width: 70px;
						height: 70px;
						border-radius: 100%;
						box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.18), 0 2px 2px 0 rgba(0, 0, 0, 0.08);
						position: absolute;
						top: 0;
						left: 0;
					}
					.Header-logoImage {
						width: 64px;
						height: 64px;
						margin: 3px;
						border-radius: 100%;
						background: #fff;
						background-position: 50% 50%;
						background-size: cover;
						display: inline-block;
					}
				}
			}
			.seprator-container {
				width: 100%;
				position: relative;
				background-color: #e8e9eb;
				.seprator {
					border-top: 1px solid #fff;
					box-shadow: 0 -1px 0 0 #d2d2d3;
					border-top-left-radius: 5px;
					border-top-right-radius: 5px;
					width: 100%;
					height: 4px;
					background-color: #f5f5f7;
					margin-bottom: -3px;
				}
			}
			.modal-body {
				.final-amount {
					font-size: 14px;
					color: #000;
					text-shadow: 0 1px 0 #fff;
				}
				.breakdown {
					h4 {
						font-size: 14px;
					}
					h5 {
						font-size: 11px;
						margin-bottom: 0px;
					}
					p.description {
						font-size: 9px;
					}
				}
			}
			.saveBtn {
				position: relative;
				border-radius: 4px;
				background-color: #3ea8e5;
				background-image: -webkit-gradient(
					linear,
					left top,
					left bottom,
					from(#44b1e8),
					to(#3098de)
				);
				background-image: -webkit-linear-gradient(top, #44b1e8, #3098de);
				background-image: linear-gradient(-180deg, #44b1e8, #3098de);
				box-shadow: 0 1px 0 0 rgba(46, 86, 153, 0.15),
					inset 0 1px 0 0 rgba(46, 86, 153, 0.1), inset 0 -1px 0 0 rgba(46, 86, 153, 0.4);
				font-size: 17px;
				line-height: 21px;
				height: 37px;
				font-weight: 700;
				text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
				color: #fff;
				cursor: pointer;
				width: 100%;
				-webkit-transition: all 0.2s ease-in-out;
				transition: all 0.2s ease-in-out;
			}
		}
	}
}
