$green-color: #b6ef7e;

.configurator-wrapper {
	padding: 75px 20px 20px;

	nav {
		background-color: #fff;
		width: calc(100% - 120px);
		height: 55px;
		position: fixed;
		top: 100px;
		left: 120px;
		box-shadow: 0 3px 5px 0 rgba(0,0,0,0.05);
	}

	ul {
		margin: 0;
		padding: 0 20px;
		display: flex;
		flex-direction: row;
		list-style: none;
		position: reltive;
		height: 100%;

		li a {
			text-decoration: none;
			color: #444;
			height: 100%;
			display: flex;
			margin: 0 20px;
			padding: 0 4px;
			align-items: center;
			border-top: 6px solid transparent;
			border-bottom: 6px solid transparent;
			transition: all .3s ease;

			&.active {
				font-weight: 600;
				border-bottom: 6px solid $green-color;
			}
		}
	}
}
