.permission-card {
	padding: 15px;
	.permission-card-header {
		font-size: 1.5rem;
		padding: 0;
		margin-bottom: 5px;
		.permission-editable {
			.ad-editable-edit {
				padding: 0;
			}
		}
		.permission-delete {
			opacity: 0;
			-webkit-animation: fadeout 0.5s;
			-moz-animation: fadeout 0.5s;
			-ms-animation: fadeout 0.5s;
			-o-animation: fadeout 0.5s;
				animation: fadeout 0.5s;
		}
	}
	.permission-card-body {
		padding: 0;
		.permission-card-body-description {
			font-size: 0.9rem;
			color: $grey-font;
		}
		.permission-card-body-credential {
		}
	}
	&:hover, &.delete-active {
		.permission-card-header {
			.permission-delete {
				opacity: 1;
				-webkit-animation: fadein 0.5s;
				-moz-animation: fadein 0.5s;
				-ms-animation: fadin 0.5s;
				-o-animation: fadein 0.5s;
					animation: fadein 0.5s;
			}
		}
	}

}
.ad-permission-key {
	position: relative;
	padding-left: 5px;
	padding-right: 59px;
	background: $dark-grey;
	border: 1px solid darken($dark-grey, 10%);
	.ad-permission-key-value {
		position: relative;
		overflow: hidden;
		text-overflow: ellipsis;
		max-height: 28px;
		font-size: 1rem;
		line-height: 28px;
		&:before {
			content: '####################################';
			background: $dark-grey;
			position: absolute;
			width: 100%;
			height: 100%;
			display: block;
		}
	}
	&.active {
		.ad-permission-key-value {
			&:before {
				display: none;
			}
		}
	}
	.ad-permission-key-buttons {
		position: absolute;
		right: 0;
		top: 0;
		a {
			display: inline-block;
			border: 0;
			border-left: 1px solid darken($dark-grey, 10%);
		}
	}
}
.ad-editable-container {
	height: 2.3rem;
	margin-bottom: 10px;
	.ad-editable {
		width: auto;
		display: inline-block;
		border-bottom: 1px dashed;
		height: 2.3rem;
		.ad-editable-value {
			cursor: pointer;
			margin: 0;
			font-size: 1.5rem;
			line-height: 2rem;
			height: 2rem;
		}
		.ad-editable-edit {
			input {
				border: 0;
				outline: none;
				box-shadow: none;
				width: auto;
				font-size: 1.5rem;
				line-height: 2rem;
				height: 2rem;
				padding: 0;
				&:focus {
					outline: none;
				}
			}
		}
	}
}
.ad-create {
	padding: 0;
	.ad-create-collapse {
		display: block;
		.ad-theme-btn {
			display: inline-block;
		}
	}
	.ad-create-expand {
		display: none;
		.ad-create-email {
			margin-bottom: 10px;
		}
		.ad-create-button-group-container {
			position: relative;
			padding: 0;
		}
	}
	&.active {
		.ad-create-collapse {
			display: none;
		}
		.ad-create-expand {
			display: block;
		}
	}
	.ad-create-button-group {
		display: inline-block;
		margin-right: 10px;
		.ad-theme-btn {
			border-right: 0;
			outline: none;
			&:last-child {
				border-right: 1px solid;
				border-color: darken($dark-grey, 10%);
			}
			&.active {
				background: lighten($primary-color, 1%);
				color: #fff;
			}
			&:hover, &:focus, &:active {
				outline: none;
			}
		}
		&.without-margin {
			margin: 0;
			padding-right: 0;
		}
	}
	.ad-create-submit {
		width: 100%;
		text-align: center;
		float: left;
	}
}
#permission-page {
	.ad-detail-page-body-card {
		margin-bottom: 0;
	}
}