.ad-dashboard {
	.body-card-title-highchart {

	}
	.body-card-body-api-view {
		margin: 0;
		padding-bottom: 15px;
	}
	.ad-dashboard-getting-started-container {
		> div:first-child {
			padding-right: 0;
			@media screen and (max-width: 768px) {
				padding-right: 15px;
			}
		}
	}
	.nav-tab {
		list-style: none;
		padding: 0;
		float: right;
		width: auto;
		position: relative;
		font-size: 1rem;
		margin: 0;
		li {
			display: inline-block;
			float: left;
			padding: 4px 8px;
			a {
				display: inline-block;
				padding: 0;
				color: $grey-font;
				position: relative;
				cursor: pointer;
				border-bottom: 2px solid transparent;
				&.active {
					color: $primary-color;
					border-color: $primary-color;
					&:before {
						background: $primary-color;
					}
				}
				&:hover {
					color: $primary-color;
					text-decoration: none;
				}
			}
		}
	}
}
