.ad-dashboard {
	.body-card-title-highchart {

	}
	.ad-detail-page-body-card-body {
		.tab-container {
			padding: 0 4px;
			margin: 0 0 15px 0;
			color: $n-navy;
		}
	}
	.body-card-body-api-view {
		margin: 0;
		padding-bottom: 15px;
	}
	.api-view.upgrade {
		padding-top: 10px;
	}
	.ad-dashboard-getting-started-container {
		> div:first-child {
			padding-right: 0;
			@media screen and (max-width: 768px) {
				padding-right: 15px;
			}
		}
	}
	.nav-tab {
		list-style: none;
		padding: 0;
		float: right;
		width: auto;
		position: relative;
		font-size: 1rem;
		margin: 0;
		margin-left: 10px;
		li {
			display: inline-block;
			float: left;
			border-bottom: 1px solid $n-navy;
			a {
				display: inline-block;
				padding: 0;
				color: $n-navy;
				position: relative;
				cursor: pointer;
				padding-bottom: 5px;
				padding-left: 10px;
				padding-right: 10px;
				&.active {
					font-family: $font-semi-bold !important;
					color: $n-navy !important;
					box-shadow: 0px 4px 0px 0px rgba(0,0,0,1);
				}
				&:hover {
					text-decoration: none;
					color: $n-navy !important;
				}
			}
		}
	}
	.highcharts-credits {
		display: none !important;
	}
}
