.__react_component_tooltip.type-dark {
	color: #fff !important;
	padding-left: 2px !important;
	padding-right: 2px !important;
	background-color: #666 !important;
}
.ad-list {
	.ad-list-header {
		background: #fff;
		padding: 15px 15px 25px;
		font-size: 14px;
		margin: 0 0 15px 0;
		box-shadow: 0 3px 5px 0 rgba(0,0,0,0.05);
		.flexcontainer {
			display: flex;
			align-items: center;
			@media all and (max-width: 768px) {
				flex-direction: column;
			}
		}
		h3 {
			font-size: 22px;
			letter-spacing: 0.01em;
			margin-top: 10px;
			font-family: $font-bold;
			color: $n-navy;
			&.name {
				font-size: 2.5rem;
			}
			&.quick-links {
				font-size: 1.6rem;
				font-family: $font-bold;
			}
		}
		ul {
			list-style: none;
			margin: 0;
			line-height: 24px;
			padding: 0 2px;
		}
		p.description {
			font-size: 1.2rem;
			color: $n-navy;
			padding-top: 10px;
			padding-right: 20px;
		}
		.quick-links-list {
			li {
				margin: 2px 0;
				color: $external-link-color;
				&:first-child {
					margin-left: 22px;
				}
			}
			svg {
				margin-right: 5px;
			}
			a {
				color: $external-link-color;
				text-decoration: none;
				font-family: $font-black;
				border-bottom: 1px solid $external-link-color;
			}
		}
	}
	.ad-list-container {
		padding-bottom: 50px;
		margin-top: 50px;
		.ad-list-filters {
			margin-bottom: 50px;
		}
		#sortby-menu {
			padding: 5px 10px;
			border-radius: 3px;
			font-size: 1rem;
			font-family: $font-black;
			color: $n-navy;
			background: white;
			border: 1px solid #D9D8E4;
			box-shadow: none;
		}
		.open #sortby-menu {
			border-color: $external-link-color;
			box-shadow: 0 0 0 3px rgba(50, 107, 220, .25);
		}
		@media screen and (max-width: 768px) {
			max-width: 500px;
			margin: 0 auto;
		}
	}
	.ad-list-newapp {
		padding: 0;
		> div {
			padding-left: 0;
		}
		p {
			text-transform: uppercase;
			text-align: left;
			color: #666;
			padding-top: 10px;
			font-family: $font-semi-bold;
		}
		input {
			padding: 6px 10px 4px;
			height: 46px;
			border: 0;
			border-bottom: 2px solid #ccc;
			box-shadow: none;
			background-color: transparent;
			border-radius: 0;
			&:focus {
				box-shadow: 0 0.3125em 1.25em 0 rgba(46, 61, 73, .06);
				background-color: #fafafa;
			}
		}
		button {
			text-transform: uppercase;
			font-size: 14px;
			font-family: $font-semi-bold;
			letter-spacing: 0.05em;
			padding: 8px;
			height: 46px;
		}
	}
	.ad-list-app {
		position: relative;
		margin: 0;
		cursor: pointer;
		padding-left: 30px;
		height: 100%;
		overflow: hidden;
		background: #fff;
		box-shadow: 0 3px 5px 0 rgba(0,0,0,0.05);
		-webkit-transition: all .3s ease;
		transition: all .3s ease;
		.ad-list-app-content {
			z-index: 2;
			position: relative;
			padding: 25px 25px 25px 0;
		}
		.ad-list-app-bg-container {
			z-index: 1;
			position: absolute;
			font-size: 100px;
			opacity: .5;
			top: -24px;
			left: -24px;
		}
		.ad-list-app-header {
			margin: 0 0 25px;
			position: relative;
			.time {
				height: 20px;
				margin: 0;
				color: #999;
				i {
					padding-right: 2px;
				}
			}
			.ad-list-title-container {
				position: relative;
				padding-right: 20px;
				.title {
					display: inline-block;
					margin: 0;
					letter-spacing: 0.02em;
					color: $n-navy;
					font-size: 1.2rem;
					font-family: $font-semi-bold;
					max-height: 24px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					max-width: 100%;
				}
				.ad-list-app-header-owner {
					top: 2px;
					left: 0;
					position: absolute;
				}
			}
			&.with-owner {
				.ad-list-title-container {
					padding-left: 20px;
				}
			}
		}
		aside.options {
			width: 33px;
			height: 100%;
			position: absolute;
			top: 0;
			right: -33px;
			background-color: rgba(228, 239, 239, 0.33);
			text-align: center;
			-webkit-transition: all .3s ease;
			transition: all .3s ease;
			z-index: 3;
			font-size: 1rem;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			.ad-list-app-header-clone {
				width: 100%;
				height: 100%;
				opacity: 0.33;
				padding: 6px 0;
				&:hover {
					opacity: 1;
					background-color: darken(rgba(228, 239, 239, 0.33), 5%);
				}
			}
			.options-item div {
				padding: 6px 0;
				color: lighten($n-navy, 5%);
				opacity: 0.33;
				.card-icon {
					border: 0;
					box-shadow: none;
					background: transparent;
					margin: 0;
					width: 100%;
					height: 100%;
				}
				&:hover {
					color: $n-navy;
					opacity: 1;
					background-color: darken(rgba(228, 239, 239, 0.33), 5%);
				}
			}
		}
		&:hover {
			box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
			aside.options {
				right: 0;
			}
		}
	}
	.ad-filterbyappname {
		display: inline-block;
		margin-right: 10px;
		input {
			height: 35px;
			width: 350px;
			border: 1px solid #D9D8E4;
			border-radius: 3px;
			margin-right: 25px;
			box-shadow: none;
			&:focus {
				border-color: $external-link-color;
			box-shadow: 0 0 0 3px rgba(50, 107, 220, .25);
			}
		}
		@media screen and (max-width: 768px) {
			max-width: calc(50% - 15px);
			input {
				width: auto;
				max-width: 100%;
			}
		}
	}
	.ad-filterbyowner {
		padding-top: 5px;
		@media screen and (max-width: 768px) {
			display: inline-block;
			width: 100%;
		}
	}
}

.ad-metrics-summary {
	> [class*="col-"] {
		padding-right: 0;
	}
	.progress-container {
		position: relative;
		min-height: 40px;
		padding-left: 48px;
		.progress-wrapper {
			position: absolute;
			left: 0;
			display: inline-block;
			width: 40px;
			height: 40px;
		}
		.progress-text {
			float: left;
			letter-spacing: 0.02em;
			word-spacing: 0.1em;
			color: $n-navy;
			font-size: 11px;
			line-height: 14px;
			padding: 3px 0 0 0;
		}
		.sub-title {
			font-family: $font-black;
			color: $n-navy;
			font-size: 1rem;
			letter-spacing: 0.02em;
			padding: 0 0 5px 0;
		}
		@media screen and (max-width: 768px) {
			margin-bottom: 15px;
		}
	}
}
.ad-detail-page-body .ad-metrics-summary {
	> [class*="col-"] {
		padding-right: 0;
	}
	.progress-container {
		position: relative;
		min-height: 40px;
		padding-left: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		@media all and (max-width: 768px) {
			flex-direction: row;
		}
		.progress-wrapper {
			position: relative;
			width: 80px;
			height: 80px;
		}
		.progress-text {
			float: left;
			letter-spacing: 0.02em;
			word-spacing: 0.1em;
			color: $n-navy;
			font-size: 11px;
			line-height: 14px;
			padding: 20px 0 0 0;
			@media all and (max-width: 768px) {
				padding-top: 0;
				padding-left: 20px;
			}
		}
		@media screen and (max-width: 768px) {
			margin-bottom: 15px;
		}
	}
}
.ad-list-newapp-modal {
	.ad-list-newapp-footer {
		.ad-list-newapp-footer-toolbar {
			display: inline-block;
			float: left;
			margin-left: 15px;
			&:first-child {
				margin-left: 0;
			}
		}
	}
	.ad-list-newapp-form {
		label {
			font-family: $font-light;
		}
	}
}
