.ad-list {
	.ad-list-header {
		background: #fff;
		padding: 15px 15px 25px;
		font-size: 14px;
		margin: 0 0 15px 0;
		border-bottom: 1px solid darken($dark-grey, 10%);
		.flexcontainer {
			display: flex;
			align-items: center;
		}
		h3 {
			font-size: 22px;
			letter-spacing: 0.01em;
			margin-top: 10px;
			font-family: $font-semi-bold;
		}
		ul {
			list-style: none;
			margin: 0;
			line-height: 24px;
			padding: 0 2px;
		}
		p.description {
			font-size: 1rem;
			padding-top: 10px;
		}
	}
	.ad-list-container {
		padding-bottom: 50px;
		@media screen and (max-width: 768px) {
			max-width: 500px;
			margin: 0 auto;
		}
	}
	.ad-list-newapp {
		padding: 0;
		> div {
			padding-left: 0;
		}
		p {
			text-transform: uppercase;
			text-align: left;
			color: #666;
			padding-top: 10px;
			font-family: $font-semi-bold;
		}
		input {
			padding: 6px 10px 4px;
			height: 46px;
			border: 0;
			border-bottom: 2px solid #ccc;
			box-shadow: none;
			background-color: transparent;
			border-radius: 0;
			&:focus {
				box-shadow: 0 0.3125em 1.25em 0 rgba(46, 61, 73, .06);
				background-color: #fafafa;
			}
		}
		button {
			text-transform: uppercase;
			font-size: 14px;
			font-family: $font-semi-bold;
			letter-spacing: 0.05em;
			padding: 8px;
			height: 46px;
		}
	}
	.ad-list-app {
		position: relative;
		margin: 0;
		cursor: pointer;
		padding-left: 30px;
		height: 100%;
		overflow: hidden;
		background: #fff;
		border: 0;
		box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
		border-radius: 0;
		border-top-right-radius: 0.375rem;
		border-bottom-right-radius: 0.375rem;
		-webkit-transition: all .3s ease;
		transition: all .3s ease;
		.ad-list-app-content {
			z-index: 2;
			position: relative;
			padding: 25px 25px 25px 0;
		}
		.ad-list-app-bg-container {
			z-index: 1;
			position: absolute;
			font-size: 100px;
			opacity: .5;
			top: -24px;
			left: -24px;
		}
		.ad-list-app-header {
			margin: 0 0 25px;
			position: relative;
			.time {
				height: 20px;
				margin: 0;
				color: #999;
				i {
					padding-right: 2px;
				}
			}
			.ad-list-title-container {
				position: relative;
				padding-right: 20px;
				.title {
					display: inline-block;
					margin: 0;
					letter-spacing: 0.02em;
					color: #666;
					font-size: 22px;
					font-family: $font-semi-bold;
					max-height: 24px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					max-width: 100%;
				}
				.ad-list-app-header-owner {
					top: 2px;
					left: 0;
					position: absolute;
				}
				.ad-list-app-header-clone {
					display: inline-block;
					right: 0;
					top: 2px;
					position: absolute;
				}
			}
			&.with-owner {
				.ad-list-title-container {
					padding-left: 20px;
				}
			}
		}
		aside.options {
			width: 25px;
			height: 100%;
			position: absolute;
			top: 0;
			right: -25px;
			background-color: #f2f4f2;
			text-align: center;
			border-left: #ddd;
			-webkit-transition: all .3s ease;
			transition: all .3s ease;
			z-index: 3;
			.options-item div {
				padding: 5px 0;
				border-bottom: 1px solid #ddd;
				color: #666;
				.card-icon {
					color: #666;
					border: 0;
					box-shadow: none;
					background: transparent;
					margin: 0;
					&.text-danger {
						color: $danger-color;
					}
					&:hover {
						color: #424242;
					}
				}
				&:hover {
					background-color: #ccc;
				}
			}
			.options-item.bottom div {
				position: absolute;
				width: 100%;
				border: 0;
				bottom: 0
			}
		}
		&:hover {
			box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
			aside.options {
				right: 0;
			}
		}
	}
	.ad-filterbyappname {
		display: inline-block;
		margin-right: 10px;
		input {
			height: 30px;
			width: 300px;
		}
		@media screen and (max-width: 768px) {
			max-width: calc(50% - 15px);
			input {
				width: auto;
				max-width: 100%;
			}
		}
	}
	.ad-filterbyowner {
		padding-top: 5px;
		@media screen and (max-width: 768px) {
			display: inline-block;
			width: 100%;
		}
	}
}

.ad-metrics-summary {
	> [class*="col-"] {
		padding-right: 0;
	}
	.progress-container {
		position: relative;
		padding-left: 48px;
		min-height: 40px;
		.progress-wrapper {
			position: absolute;
			left: 0;
			width: 40px;
			height: 40px;
			display: inline-block;
		}
		.progress-text {
			float: left;
			letter-spacing: 0.02em;
			word-spacing: 0.1em;
			color: #888;
			font-size: 11px;
			line-height: 14px;
			padding: 3px 0 0 0;
		}
		.sub-title {
			font-family: $font-semi-bold;
			text-transform: uppercase;
			color: #aaa;
			font-size: 12px;
			letter-spacing: 0.02em;
			padding: 0 0 5px 0;
		}
		@media screen and (max-width: 768px) {
			margin-bottom: 15px;
		}
	}
}
.ad-list-newapp-modal {
	.ad-list-newapp-footer {
		.ad-list-newapp-footer-toolbar {
			display: inline-block;
			float: left;
			margin-left: 15px;
			&:first-child {
				margin-left: 0;
			}
		}
	}
	.ad-list-newapp-form {
		label {
			font-family: $font-light;
		}
	}
}