.loadingBar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 4px;
	z-index: 800;
	background: $primary-color;
	transform: translateX(100%);
	display: block;
	animation: shift-rightwards 0.5s ease-in-out infinite;
	animation-delay: .2s
}
.ad-loading {
	background: rgba(0, 0, 0, 0.8);
	border: 1px solid $primary-color;
	overflow: hidden;
	display: flex;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	align-items: center;
	justify-content: center;
	.ball-clip-rotate-multiple>div {
		border-color : transparent $primary-color;
	}
}
@keyframes shift-rightwards {
	0% {
		transform: translateX(-100%)
	}
	40% {
		transform: translateX(0)
	}
	60% {
		transform: translateX(0)
	}
	100% {
		transform: translateX(100%)
	}
}
