#login {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	flex-direction: column;
	h1 {
		padding: 5vh 10vw;
		color: #888;
		margin: 0;
		font-size: 3.5em;
		font-family: $font-light;
	}
	h2 {
		padding: 5vh 10vw 10px 10vw;
		color: $navy;
		margin: 0;
		font-size: 2.5rem;
		font-family: $font-bold;
	}
	p {
		font-family: $font-black;
		font-size: 1.2rem;
		color: $navy;
		margin-bottom: 50px;
	}
}

#login_modal.modal {
	margin-top: 20vh;
	.modal-dialog {
		width: 350px;
		margin: 30px auto;
	}
	.modal-content {
		border-radius: 4px;
		border: 3px solid;
		font-family: $font-light;
		color: $login-color;
		background: $login-bg;
		.modal-header {
			font-family: $font-light;
			font-size: 18px;
			background-color: inherit;
			border: 0;
			padding: 5px 15px 0 15px;
			text-align: center;
			.modal-title {
				color: $login-color;
				text-transform: inherit;
				text-align: center;
			}
		}
		.modal-footer {
			border: 0;
			padding-top: 0;
		}
		.modal-body {
			padding: 15px;
			text-align: center;
		}
		.mr15 {
			margin-right: 15px;
		}
		.mt25 {
			margin-top: 25px;
		}
		.close {
			border-color: $login-color;
			color: $login-color;
		}
		.modal-btn {
			background: transparent;
			color: inherit;
			border: 1px solid;
			font-family: $font-light;
			font-size: 16px;
			padding: 4px 20px;
			display: inline-block;
			width: auto;
			margin-right: 15px;
			height: auto;
			&:hover {
				background-color: $login-color;
				color: $login-bg;
			}
		}
		.contact-link {
			color: $login-color;
			border-bottom: 1px dotted;
		}
	}
	.modal-sm {
		.modal-body {
			padding-top: 25px;
		}
	}
	&#login_modal,
	&#signup_modal {
		margin-top: 20vh;
		.modal-header {
			padding: 35px 15px 0 15px;
		}
	}
}
