#login {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	flex-direction: column;
	h1 {
		padding: 5vh 10vw;
		color: #888;
		margin: 0;
		font-size: 3.5em;
		font-family: $font-regular; font-weight: 300;
	}
	h2 {
		padding: 5vh 10vw 10px 10vw;
		color: $navy;
		margin: 0;
		font-size: 2.5rem;
		font-family: $font-regular; font-weight: 700;
	}
	p {
		font-family: $font-regular; font-weight: 600;
		font-size: 1.2rem;
		color: $navy;
		margin: 20px auto;
	}
	.mt25 {
		margin-top: 25px;
		font-family: $font-regular; font-weight: 300;
		color: $navy;
	}
}

#login-btn-screen {
	.modal-btn {
		box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
		font-size: 1rem;
		border: none;
		border-radius: 3px;
		padding-top: 10px;
		padding-bottom: 10px;
		height: auto;
		margin: 5px;
		color: #fff;
		transition: all 0.3s ease-in-out;
		svg {
			font-size: 1.2rem;
			margin-right: 20px;
		}
		&:hover {
			box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
		}
		&.github-btn {
			background: $github-color;
			&:hover {
				background: lighten($github-color, 5%);
			}
		}
		&.google-btn {
			background: $google-color;
			&:hover {
				background: lighten($google-color, 5%);
			}
		}
	}
	i {
		margin-right: 8px;
	}
	.contact-link {
		color: $navy;
		border-bottom: 1px dotted;
		text-decoration: none;
	}
}

#login_modal.modal {
	margin-top: 20vh;
	.flex {
		display: flex;
	}
	.flex-column {
		flex-direction: column;
	}
	.modal-dialog {
		width: 430px;
		margin: 30px auto;
	}
	.modal-content {
		border-radius: 4px;
		border: none;
		font-family: $font-regular; font-weight: 300;
		color: $login-color;
		background: $login-bg;
		.modal-header {
			font-family: $font-regular; font-weight: 300;
			font-size: 18px;
			background-color: inherit;
			border: 0;
			border-radius: 4px;
			padding: 5px 15px 0 15px;
			text-align: center;
			.modal-title {
				color: $navy;
				font-size: 1.2rem;
				font-family: $font-regular; font-weight: 600;
				text-transform: inherit;
				text-align: center;
				padding-top: 0;
			}
		}
		.modal-footer {
			border: 0;
			padding-top: 0;
		}
		.modal-body {
			padding: 20px;
			text-align: center;
		}
		.mr15 {
			margin-right: 15px;
		}
		.mt25 {
			margin-top: 25px;
			font-family: $font-regular; font-weight: 300;
			color: $navy;
		}
		.close {
			color: $navy;
			border: none;
			background-color: rgba(217, 216, 228, 0.25);
			width: 25px;
			height: 25px;
			font-size: 20px;
			font-family: $font-regular; font-weight: 300;
		}
		.modal-btn {
			box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
			font-size: 1rem;
			border: none;
			border-radius: 3px;
			padding-top: 10px;
			padding-bottom: 10px;
			height: auto;
			svg {
				font-size: 1.2rem;
				margin-right: 20px;
			}
			&:hover {
				box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
			}
			&.github-btn {
				background: $github-color;
				&:hover {
					background: lighten($github-color, 5%);
				}
			}
			&.google-btn {
				background: $google-color;
				&:hover {
					background: lighten($google-color, 5%);
				}
			}
		}
		.contact-link {
			color: $navy;
			border-bottom: 1px dotted;
			text-decoration: none;
		}
	}
	.modal-sm {
		.modal-body {
			padding-top: 25px;
		}
	}
	&#login_modal,
	&#signup_modal {
		margin-top: 20vh;
		.modal-header {
			padding: 35px 15px 0 15px;
		}
	}
}
