.navbar.navbar-default {
	border-radius: 0;
	border: 0;
	margin: 0;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 99;
	height: 100px;
	color: $n-navy;
	.container-fluid {
		margin-top: 20px;
	}
	.navbar-brand {
		height: 60px;
		font-size: 1.75rem;
		padding: 7px 0 0 1rem;
		display: inline-block;
		position: relative;
		max-width: 500px;
		img {
			height: 45px;
			display: inline-block;
			float: left;
		}
		span {
			float: left;
			padding: 0.5rem 0;
			font-family: $font-regular;
			text-transform: none;
			padding-left: 8px;
		}
	}
	.user-img-container {
		position: relative;
		padding-right: 15px;
		.user-img {
			border: 0;
			background: transparent;
			right: 0;
			top: -3px;
			position: absolute;
			width: 65px;
			.img-container {
				display: inline-block;
				position: relative;
				img {
					border-radius: 50%;
				}
				.close {
					display: none;
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					line-height: 46px;
					border-radius: 50%;
				}
			}
			&:hover {
				.close {
					background: rgba($danger-color, 0.9);
					display: inline-block;
					color: #000;
				}
			}
		}
		@media screen and (max-width: 960px) and (min-width: 768px) {
			padding-right: 20px;
			span {
				display: none;
			}
		}
	}
	li {
		height: 60px;
		a,
		.extra-link {
			font-size: 1rem;
			padding: 0.8rem 25px;
			&:hover,
			&:focus {
				outline: none;
			}
			.icon-container {
				display: inline-block;
				max-width: 0.9rem;
				margin-right: 5px;
			}
		}
		.apps-dropdown-toggle {
			position: relative;
			font-family: $font-semi-bold;
			.dropdown-chevron {
				position: absolute;
				left: -0.1rem;
				top: 1rem;
			}
		}
		.ad-user-info-list {
			padding: 0;
			list-style: none;
			&:hover {
				.user-img:before {
					content: ' ';
					position: absolute;
					width: 0;
					height: 0;
					right: 0;
					border: 32px solid;
					border-color: white transparent transparent transparent;
					transform: rotate(180deg);
					margin-top: 23px;
				}
			}
			&.visible-xs {
				> li {
					float: left;
					width: 100%;
					a {
						float: left;
						width: 100%;
					}
				}
			}
			.ad-dropdown-menu {
				.user-name {
					color: $n-navy;
					font-size: 1rem;
					font-family: $font-light;
				}
				.user-email {
					color: $n-navy;
					font-size: 0.8rem;
					font-family: $font-extra-light;
				}
				li:not(:first-child) {
					border-top: 1px solid $separator-color;
				}
				li:hover {
					background: $dark-grey;
					a:hover {
						background: $dark-grey;
					}
				}
			}
		}
		.login-nav {
			border: 1px solid $navy;
			border-radius: 3px;
			@media all and (max-width: 768px) {
				border: none;
			}
		}
	}
	li.dropdown {
		> a {
			position: relative;
			padding-bottom: 8px;
			&:before {
				content: " ";
				position: absolute;
				right: 0;
				bottom: 8px;
				border-width: 6px;
				border-style: solid;
			}
			&:hover {
				background: transparent;
			}
		}
		&.without-icon {
			> a:before,
			> a:after {
				display: none;
			}
		}
		&.logout-dropdown {
			.dropdown-menu {
				top: 75px;
				left: -100px;
			}
			li a {
				font-size: 0.8rem;
				white-space: inherit;
				word-break: break-all;
				display: block;
				max-height: inherit;
				.ai-dropdown-logout {
					color: $alert-color;
					font-size: 1rem;
					font-family: $font-light;
				}
			}
		}
		&.open {
			> a {
				color: #fff;
				background: transparent;
			}
		}
		&:hover {
			outline: none;
		}
		a {
			text-transform: inherit;
		}
	}
	li.dropdown:hover > a {
		&:after {
			content: " ";
			position: absolute;
			right: -20px;
			bottom: -20px;
			border-width: 25px;
			border-style: solid;
			border-color: transparent transparent white transparent;
		}
	}
	li.dropdown {
		a {
			margin-bottom: 0;
		}
		&:hover {
			.dropdown-menu {
				display: block;
			}
		}
		.dropdown-menu {
			border: none;
			border-radius: 0;
			padding: 0;
			left: 0;
			margin-top: -11px;
			right: auto;
			max-height: 400px;
			overflow: auto;
			box-shadow: 0 6px 6px 0 rgba(0,0,0,0.1);
			li {
				height: auto;
				font-family: $font-light;
				&:hover {
					background-color: $dark-grey;
				}
				&:not(:first-child) {
					border-top: 1px solid $separator-color;
				}
				a {
					border-radius: 0;
					margin: 0;
					padding: 0.75rem;
					.ad-list-app-header-owner {
						padding-left: 5px;
					}
					&.withIcon {
						padding-left: 42px;
						img {
							position: absolute;
							left: 10px;
							margin-top: 3px;
							max-width: 22px;
						}
					}
					&:hover {
						background: transparent !important;
					}
				}
			}
		}
	}
	.navbar-collapse {
		padding: 0;
		&.in {
			.navbar-nav {
				width: 100%;
				float: none !important;
				margin: 0 auto;
				li.dropdown:hover .dropdown-menu {
					width: 100%;
				}
				&.nav-app {
					li {
						width: auto;
						display: inline-block;
					}
				}
				.user-img-container {
					padding-left: 56px;
					padding-right: 0;
					width: auto;
					display: inline-block;
					.user-img {
						left: 0;
					}
				}
			}
		}
	}
}
