$left-color: #232E44;
$right-color: #C7F4FF;

.onboarding-wrapper {
	display: flex;
	height: 100vh;
	position: relative;
	color: #fff;
	font-family: 'Open Sans', sans-serif;

	mark {
		background-color: #ff0;
	}

	.loader {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgba(0,0,0,.85);
		color: #fff;
		font-size: 16px;
		z-index: 200;

		p {
			max-width: 500px;
			margin: 0 auto;
		}
	}

	.left {
		width: 300px;
		height: 100%;
		background-color: $left-color;
		padding: 40px 20px;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li a {
				display: flex;
				align-items: center;
				padding: 8px 15px;
				border-radius: 6px;
				color: #ccc;
				position: relative;
				cursor: pointer;

				&:hover, &:focus {
					text-decoration: none;
				}

				&.active {
					margin: 8px 0;
					background-color: #fff;
					color: $left-color;
				}
			}
		}
	}

	.right {
		width: calc(100% - 300px);
		height: 100%;
		background-color: $right-color;
		padding: 50px 20px;
		text-align: left;
		position: absolute;
		right: 0;
		color: #424242;
		overflow-y: scroll;

		.container {
			max-width: 950px;
			margin: 20px auto;

			iframe {
				margin: 40px 0;
			}
		}
	}

	.wrapper {
		display: flex;
		flex-direction: row;
		margin-bottom: 35px;

		.content {
			flex-grow: 1;
			margin: 0 0 0 30px;
		}
	}

	header {
		h2 {
			margin: 0 0 6px 0;
			font-weight: 700;
			letter-spacing: -1px;
			line-height: 42px;
		}

		p {
			margin: 0;
			font-size: 22px;
			line-height: 32px;
			max-width: 550px;
		}
	}

	.header-icon {
		width: 70px;
		height: 70px;
		background-color: #9BE5F7;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
	}

	p {
		max-width: 750px;
		margin: 0 0 20px;
		line-height: 24px;
		font-size: 20px;
		line-height: 32px;
	}

	h3 {
		font-size: 20px;
		line-height: 35px;
		font-weight: 700;
		margin: 30px 0;
	}

	.feature-list div {
		display: flex;
		flex-direction: row;
		margin-bottom: 20px;

		img {
			width: 110px;
		}

		p {
			padding-left: 30px;
		}
	}

	footer {
		width: calc(100% - 300px);
		height: 100px;
		background-color: rgba(98, 138, 136, 0.62);
		position: fixed;
		bottom: 0;
		left: 300px;
		padding: 0 50px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		.left-column {
			text-align: left;
		}

		.right-column {
			text-align: right;
		}
	}

	.button {
		background: #fff;
		padding: 0 24px;
		color: #111;
		border-radius: 4px;
		display: inline-flex;
		height: 40px;
		align-items: center;
		justify-content: center;
		font-size: 16px;
		line-height: 1;
		white-space: nowrap;
		letter-spacing: 0.01rem;
		border: none;
		cursor: pointer;
		transition: all .2s ease;

		&.has-icon {
			padding: 0 16px 0 24px;
		}

		&:hover, &:focus {
			text-decoration: none;
			box-shadow: 0 1px 7px rgba(0,0,0,.1);
			background-color: #fefefe;
			color: #28a5c3;
		}

		&.primary {
			color: #375619;
			background-color: #B6EF7E;

			&:hover, &:focus {
				background-color: #70d210;
				color: #375619;
			}
		}

		&.disabled {
			background-color: #888;

			&:hover, &:focus {
				background-color: #888;
				cursor: not-allowed;
				color: #111;
			}
		}
	}

	.col-wrapper {
		display: flex;
		flex-direction: row;
	}

	.code-block {
		width: 400px;
		margin: 30px 0;
		border-radius: 4px;
		overflow: hidden;
	}

	.search-field-container {
		width: 400px;
		height: auto;
		margin: 30px 0;
		border-radius: 2px;
		background-color: #DCF8FF;
		padding: 30px;
		text-align: left;
		color: #424242;

		.input-wrapper {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

		h3 {
			font-size: 18px;
			margin: 0 0 6px;
			font-weight: bold;
			color: #111;
		}

		.input {
			width: 100%;
			color: #333;
			border-radius: 4px;
			border: 1px solid #ccc;
			padding: 8px 4px;
			height: 36px;
		}

		.Select {
			display: block;
			width: 100%;
		}

		p {
			color: #888;
			margin: 8px 0 16px;
			font-size: 13px;
			line-height: 18px;
		}

		.button {
			height: 36px;
			font-size: 15px;
			margin-left: 10px;
		}

		&.full-row {
			width: 100%;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;

			& > * {
				width: 40%;

				p {
					margin: 0;
				}
				
				&:first-child {
					width: 55%;
				}
			}
		}
	}


	// search app styles
	.search-app {
		h2 {
			font-size: 18px;
			line-height: 28px;
		}

		p {
			font-size: 16px;
		}

		a {
			&:hover, &:focus {
				text-decoration: none;
			}
		}
	}

	.list-item {
		padding: 20px 0;
		border-bottom: 1px solid #eee;
	}

	.multi-col {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	
		.left-col {
			width: 240px;

			h2 {
				margin: 40px 0 12px;
			}

			label {
				font-weight: normal;
			}
		}

		.right-col {
			width: calc(100% - 260px);
		}
	}

	p.result-stats {
		max-width: none;
		margin: 20px 0 0;
		font-size: 16px;
		margin-bottom: 5px;
		line-height: 16px;
		text-align: right;
	}

	.tag {
		font-size: 0.8rem;
		background: rgb(238, 238, 238);
		margin: 5px 3px;
		padding: 3px 8px;
		border-radius: 2px;
		color: #333;

		&:first-child {
			margin-left: 0px;
		}
	}
}