#onboarding-container {
	display: block;
	float: left;
	width: 100%;
	height: 100%;
	position: relative;
	.left, .right {
		position: absolute;
	}
	.jsonPopoverBtn {
		background: transparent;
		border: 2px solid $primary-color;
		border-radius: 50%;
		width: 30px;
		height: 30px;
		font-size: 12px;
		&:before {
			content: "{...}";
		}
	}
	.liveExample {
		padding: 15px;
	}
	.tutorial-tabs {
		text-align: initial;
	}
}
