#dashboard {
	.sidebar-container {
		position: absolute;
		left: 0;
		top: 0;
		width: 76px;
		height: 100%;
		padding-top: 0;
		background: lighten($blue-color, 4%);
		z-index: 2;
		.sidebar {
			list-style: none;
			padding: 0;
			li {
				text-align: center;
				font-size: 0.8rem;
				text-transform: uppercase;
				a {
					padding: 15px 5px;
					display: block;
					color: $sidebar-font-color;
					.img-container {
						max-width: 70%;
						margin: 0 auto;
						font-size: 30px;
						img {
							margin: 0 auto 10px auto;
						}
					}
					&:hover, &.active {
						background: $blue-color;
						text-decoration: none;
					}
				}
			}
		}
	}
}
