@font-face {
  font-family: 'Source Sans Pro Extra Light Italic';
  src: url("../fonts/source/sourcesanspro-extralightit.eot");
  src: url("../fonts/source/sourcesanspro-extralightit.eot?#iefix") format("embedded-opentype"), url("../fonts/source/sourcesanspro-extralightit.woff2") format("woff2"), url("../fonts/source/sourcesanspro-extralightit.woff") format("woff"), url("../fonts/source/sourcesanspro-extralightit.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Light';
  src: url("../fonts/source/sourcesanspro-light.eot");
  src: url("../fonts/source/sourcesanspro-light.eot?#iefix") format("embedded-opentype"), url("../fonts/source/sourcesanspro-light.woff2") format("woff2"), url("../fonts/source/sourcesanspro-light.woff") format("woff"), url("../fonts/source/sourcesanspro-light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Regular';
  src: url("../fonts/source/sourcesanspro-regular.eot");
  src: url("../fonts/source/sourcesanspro-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/source/sourcesanspro-regular.woff2") format("woff2"), url("../fonts/source/sourcesanspro-regular.woff") format("woff"), url("../fonts/source/sourcesanspro-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Bold';
  src: url("../fonts/source/sourcesanspro-bold.eot");
  src: url("../fonts/source/sourcesanspro-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/source/sourcesanspro-bold.woff2") format("woff2"), url("../fonts/source/sourcesanspro-bold.woff") format("woff"), url("../fonts/source/sourcesanspro-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Extra Light';
  src: url("../fonts/source/sourcesanspro-extralight.eot");
  src: url("../fonts/source/sourcesanspro-extralight.eot?#iefix") format("embedded-opentype"), url("../fonts/source/sourcesanspro-extralight.woff2") format("woff2"), url("../fonts/source/sourcesanspro-extralight.woff") format("woff"), url("../fonts/source/sourcesanspro-extralight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Semi Bold';
  src: url("../fonts/source/sourcesanspro-semibold.eot");
  src: url("../fonts/source/sourcesanspro-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/source/sourcesanspro-semibold.woff2") format("woff2"), url("../fonts/source/sourcesanspro-semibold.woff") format("woff"), url("../fonts/source/sourcesanspro-semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Light Italic';
  src: url("../fonts/source/sourcesanspro-lightit.eot");
  src: url("../fonts/source/sourcesanspro-lightit.eot?#iefix") format("embedded-opentype"), url("../fonts/source/sourcesanspro-lightit.woff2") format("woff2"), url("../fonts/source/sourcesanspro-lightit.woff") format("woff"), url("../fonts/source/sourcesanspro-lightit.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Italic';
  src: url("../fonts/source/sourcesanspro-it.eot");
  src: url("../fonts/source/sourcesanspro-it.eot?#iefix") format("embedded-opentype"), url("../fonts/source/sourcesanspro-it.woff2") format("woff2"), url("../fonts/source/sourcesanspro-it.woff") format("woff"), url("../fonts/source/sourcesanspro-it.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Semibold Italic';
  src: url("../fonts/source/sourcesanspro-semiboldit.eot");
  src: url("../fonts/source/sourcesanspro-semiboldit.eot?#iefix") format("embedded-opentype"), url("../fonts/source/sourcesanspro-semiboldit.woff2") format("woff2"), url("../fonts/source/sourcesanspro-semiboldit.woff") format("woff"), url("../fonts/source/sourcesanspro-semiboldit.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Black Italic';
  src: url("../fonts/source/sourcesanspro-blackit.eot");
  src: url("../fonts/source/sourcesanspro-blackit.eot?#iefix") format("embedded-opentype"), url("../fonts/source/sourcesanspro-blackit.woff2") format("woff2"), url("../fonts/source/sourcesanspro-blackit.woff") format("woff"), url("../fonts/source/sourcesanspro-blackit.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Black';
  src: url("../fonts/source/sourcesanspro-black.eot");
  src: url("../fonts/source/sourcesanspro-black.eot?#iefix") format("embedded-opentype"), url("../fonts/source/sourcesanspro-black.woff2") format("woff2"), url("../fonts/source/sourcesanspro-black.woff") format("woff"), url("../fonts/source/sourcesanspro-black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Bold Italic';
  src: url("../fonts/source/sourcesanspro-boldit.eot");
  src: url("../fonts/source/sourcesanspro-boldit.eot?#iefix") format("embedded-opentype"), url("../fonts/source/sourcesanspro-boldit.woff2") format("woff2"), url("../fonts/source/sourcesanspro-boldit.woff") format("woff"), url("../fonts/source/sourcesanspro-boldit.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

html,
body {
  background: #fff;
  color: #555;
  font-size: 14px;
  height: 100%; }

.theme-btn {
  background: #dedede;
  color: #fff;
  border: 0;
  box-shadow: none;
  border-radius: 6px;
  padding: 4px 8px; }
  .theme-btn:hover, .theme-btn.active {
    background: #CDDC39;
    text-decoration: none; }
  .theme-btn[disabled] {
    opacity: 0.6;
    cursor: not-allowed; }
  .theme-btn.bg-btn {
    font-size: 2rem;
    padding: 8px 16px; }

.appList, .singleApp {
  margin: 0;
  position: relative;
  padding: 30px; }
  .appList .app-card-container, .singleApp .app-card-container {
    padding: 15px 30px 15px 0; }
  .appList .app-card, .singleApp .app-card {
    border-radius: 8px;
    background: #f7f7f7;
    padding: 12px;
    text-align: center;
    border: 6px solid transparent; }
    .appList .app-card.new-app, .singleApp .app-card.new-app {
      border: 6px dotted #f7f7f7;
      background: #fff; }
    .appList .app-card .caption, .singleApp .app-card .caption {
      font-size: 1.2rem;
      line-height: 39px; }
    .appList .app-card .title, .singleApp .app-card .title {
      font-size: 1.5rem;
      marker-top: 15px; }
      .appList .app-card .title a, .singleApp .app-card .title a {
        width: 100%;
        display: block;
        background: #dedede;
        color: #fff; }
        .appList .app-card .title a:hover, .singleApp .app-card .title a:hover {
          background: #CDDC39;
          text-decoration: none; }
    .appList .app-card .app-card-progress .app-card-progress-container, .singleApp .app-card .app-card-progress .app-card-progress-container {
      height: 100px;
      width: 100px;
      margin: auto;
      position: relative;
      margin-bottom: 15px; }
      .appList .app-card .app-card-progress .app-card-progress-container.plus-icon, .singleApp .app-card .app-card-progress .app-card-progress-container.plus-icon {
        border: 1px solid #B3B3B3;
        border-radius: 50%;
        color: #B3B3B3;
        font-size: 70px;
        font-family: "Source Sans Pro Extra Light"; }
      .appList .app-card .app-card-progress .app-card-progress-container .appCount, .singleApp .app-card .app-card-progress .app-card-progress-container .appCount {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        left: 0;
        top: 0;
        margin: auto;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center; }

#dashboard {
  height: 100%; }

.app-container {
  padding: 0;
  height: 100%;
  position: relative;
  padding: 76px 0 0 76px; }

#dashboard-container {
  padding: 76px 0 0 0;
  position: absolute;
  right: 0;
  top: 0;
  overflow: auto;
  height: 100%;
  width: 100%; }
  #dashboard-container .page-info {
    margin: 0 0 15px 0; }
    #dashboard-container .page-info .page-title {
      margin: 0 0 5px 0; }

.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; }
  .loadingContainer .loading {
    max-width: 50%;
    padding: 15px;
    background: #CDDC39;
    border-radius: 6px;
    color: #fff;
    font-size: 18px; }
    .loadingContainer .loading span {
      float: right;
      line-height: 60px; }
  .loadingContainer.normal {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0; }
    .loadingContainer.normal .loading {
      width: 100%;
      max-width: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
      .loadingContainer.normal .loading span {
        float: none;
        line-height: 1rem; }
