@font-face {
  font-family: 'Source Sans Pro Extra Light Italic';
  src: url("/styles/fonts/source/sourcesanspro-extralightit.eot");
  src: url("/styles/fonts/source/sourcesanspro-extralightit.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/source/sourcesanspro-extralightit.woff2") format("woff2"), url("/styles/fonts/source/sourcesanspro-extralightit.woff") format("woff"), url("/styles/fonts/source/sourcesanspro-extralightit.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Light';
  src: url("/styles/fonts/source/sourcesanspro-light.eot");
  src: url("/styles/fonts/source/sourcesanspro-light.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/source/sourcesanspro-light.woff2") format("woff2"), url("/styles/fonts/source/sourcesanspro-light.woff") format("woff"), url("/styles/fonts/source/sourcesanspro-light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Regular';
  src: url("/styles/fonts/source/sourcesanspro-regular.eot");
  src: url("/styles/fonts/source/sourcesanspro-regular.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/source/sourcesanspro-regular.woff2") format("woff2"), url("/styles/fonts/source/sourcesanspro-regular.woff") format("woff"), url("/styles/fonts/source/sourcesanspro-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Bold';
  src: url("/styles/fonts/source/sourcesanspro-bold.eot");
  src: url("/styles/fonts/source/sourcesanspro-bold.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/source/sourcesanspro-bold.woff2") format("woff2"), url("/styles/fonts/source/sourcesanspro-bold.woff") format("woff"), url("/styles/fonts/source/sourcesanspro-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Extra Light';
  src: url("/styles/fonts/source/sourcesanspro-extralight.eot");
  src: url("/styles/fonts/source/sourcesanspro-extralight.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/source/sourcesanspro-extralight.woff2") format("woff2"), url("/styles/fonts/source/sourcesanspro-extralight.woff") format("woff"), url("/styles/fonts/source/sourcesanspro-extralight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Semi Bold';
  src: url("/styles/fonts/source/sourcesanspro-semibold.eot");
  src: url("/styles/fonts/source/sourcesanspro-semibold.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/source/sourcesanspro-semibold.woff2") format("woff2"), url("/styles/fonts/source/sourcesanspro-semibold.woff") format("woff"), url("/styles/fonts/source/sourcesanspro-semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Light Italic';
  src: url("/styles/fonts/source/sourcesanspro-lightit.eot");
  src: url("/styles/fonts/source/sourcesanspro-lightit.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/source/sourcesanspro-lightit.woff2") format("woff2"), url("/styles/fonts/source/sourcesanspro-lightit.woff") format("woff"), url("/styles/fonts/source/sourcesanspro-lightit.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Italic';
  src: url("/styles/fonts/source/sourcesanspro-it.eot");
  src: url("/styles/fonts/source/sourcesanspro-it.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/source/sourcesanspro-it.woff2") format("woff2"), url("/styles/fonts/source/sourcesanspro-it.woff") format("woff"), url("/styles/fonts/source/sourcesanspro-it.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Semibold Italic';
  src: url("/styles/fonts/source/sourcesanspro-semiboldit.eot");
  src: url("/styles/fonts/source/sourcesanspro-semiboldit.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/source/sourcesanspro-semiboldit.woff2") format("woff2"), url("/styles/fonts/source/sourcesanspro-semiboldit.woff") format("woff"), url("/styles/fonts/source/sourcesanspro-semiboldit.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Black Italic';
  src: url("/styles/fonts/source/sourcesanspro-blackit.eot");
  src: url("/styles/fonts/source/sourcesanspro-blackit.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/source/sourcesanspro-blackit.woff2") format("woff2"), url("/styles/fonts/source/sourcesanspro-blackit.woff") format("woff"), url("/styles/fonts/source/sourcesanspro-blackit.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Black';
  src: url("/styles/fonts/source/sourcesanspro-black.eot");
  src: url("/styles/fonts/source/sourcesanspro-black.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/source/sourcesanspro-black.woff2") format("woff2"), url("/styles/fonts/source/sourcesanspro-black.woff") format("woff"), url("/styles/fonts/source/sourcesanspro-black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Bold Italic';
  src: url("/styles/fonts/source/sourcesanspro-boldit.eot");
  src: url("/styles/fonts/source/sourcesanspro-boldit.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/source/sourcesanspro-boldit.woff2") format("woff2"), url("/styles/fonts/source/sourcesanspro-boldit.woff") format("woff"), url("/styles/fonts/source/sourcesanspro-boldit.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

#login h1 {
  margin-bottom: 45px; }

#login .modal-appbase .modal-content {
  border-radius: 4px;
  border: 3px solid;
  font-family: "Source Sans Pro Light";
  color: #fff;
  background: #CDDC39; }
  #login .modal-appbase .modal-content .modal-header {
    font-family: "Source Sans Pro Light";
    font-size: 18px;
    background-color: inherit;
    border: 0;
    padding: 5px 15px 0 15px; }
  #login .modal-appbase .modal-content .modal-footer {
    border: 0;
    padding-top: 0; }
  #login .modal-appbase .modal-content .modal-body {
    padding-top: 15px; }
  #login .modal-appbase .modal-content .mr15 {
    margin-right: 15px; }
  #login .modal-appbase .modal-content .mt25 {
    margin-top: 25px; }
  #login .modal-appbase .modal-content .close {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 0;
    font-size: 14px;
    line-height: 14px;
    padding: 3px 0;
    text-align: center;
    position: absolute;
    right: 5px;
    top: 5px;
    margin-top: 0;
    background: transparent;
    opacity: 1;
    font-family: "Source Sans Pro Light"; }
  #login .modal-appbase .modal-content .modal-btn {
    background: transparent;
    color: inherit;
    border: 1px solid;
    font-family: "Source Sans Pro Light";
    font-size: 16px;
    padding: 4px 20px; }
  #login .modal-appbase .modal-content .contact-link {
    color: #fff;
    border-bottom: 1px dotted; }

#login .modal-appbase .modal-sm .modal-body {
  padding-top: 25px; }

#login .modal-appbase#login_modal, #login .modal-appbase#signup_modal {
  margin-top: 20vh; }
  #login .modal-appbase#login_modal .modal-header, #login .modal-appbase#signup_modal .modal-header {
    padding: 35px 15px 0 15px; }
