@font-face {
  font-family: 'Source Sans Pro Extra Light Italic';
  src: url("/styles/fonts/source/sourcesanspro-extralightit.eot");
  src: url("/styles/fonts/source/sourcesanspro-extralightit.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/source/sourcesanspro-extralightit.woff2") format("woff2"), url("/styles/fonts/source/sourcesanspro-extralightit.woff") format("woff"), url("/styles/fonts/source/sourcesanspro-extralightit.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Light';
  src: url("/styles/fonts/source/sourcesanspro-light.eot");
  src: url("/styles/fonts/source/sourcesanspro-light.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/source/sourcesanspro-light.woff2") format("woff2"), url("/styles/fonts/source/sourcesanspro-light.woff") format("woff"), url("/styles/fonts/source/sourcesanspro-light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Regular';
  src: url("/styles/fonts/source/sourcesanspro-regular.eot");
  src: url("/styles/fonts/source/sourcesanspro-regular.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/source/sourcesanspro-regular.woff2") format("woff2"), url("/styles/fonts/source/sourcesanspro-regular.woff") format("woff"), url("/styles/fonts/source/sourcesanspro-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Bold';
  src: url("/styles/fonts/source/sourcesanspro-bold.eot");
  src: url("/styles/fonts/source/sourcesanspro-bold.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/source/sourcesanspro-bold.woff2") format("woff2"), url("/styles/fonts/source/sourcesanspro-bold.woff") format("woff"), url("/styles/fonts/source/sourcesanspro-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Extra Light';
  src: url("/styles/fonts/source/sourcesanspro-extralight.eot");
  src: url("/styles/fonts/source/sourcesanspro-extralight.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/source/sourcesanspro-extralight.woff2") format("woff2"), url("/styles/fonts/source/sourcesanspro-extralight.woff") format("woff"), url("/styles/fonts/source/sourcesanspro-extralight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Semi Bold';
  src: url("/styles/fonts/source/sourcesanspro-semibold.eot");
  src: url("/styles/fonts/source/sourcesanspro-semibold.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/source/sourcesanspro-semibold.woff2") format("woff2"), url("/styles/fonts/source/sourcesanspro-semibold.woff") format("woff"), url("/styles/fonts/source/sourcesanspro-semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Light Italic';
  src: url("/styles/fonts/source/sourcesanspro-lightit.eot");
  src: url("/styles/fonts/source/sourcesanspro-lightit.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/source/sourcesanspro-lightit.woff2") format("woff2"), url("/styles/fonts/source/sourcesanspro-lightit.woff") format("woff"), url("/styles/fonts/source/sourcesanspro-lightit.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Italic';
  src: url("/styles/fonts/source/sourcesanspro-it.eot");
  src: url("/styles/fonts/source/sourcesanspro-it.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/source/sourcesanspro-it.woff2") format("woff2"), url("/styles/fonts/source/sourcesanspro-it.woff") format("woff"), url("/styles/fonts/source/sourcesanspro-it.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Semibold Italic';
  src: url("/styles/fonts/source/sourcesanspro-semiboldit.eot");
  src: url("/styles/fonts/source/sourcesanspro-semiboldit.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/source/sourcesanspro-semiboldit.woff2") format("woff2"), url("/styles/fonts/source/sourcesanspro-semiboldit.woff") format("woff"), url("/styles/fonts/source/sourcesanspro-semiboldit.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Black Italic';
  src: url("/styles/fonts/source/sourcesanspro-blackit.eot");
  src: url("/styles/fonts/source/sourcesanspro-blackit.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/source/sourcesanspro-blackit.woff2") format("woff2"), url("/styles/fonts/source/sourcesanspro-blackit.woff") format("woff"), url("/styles/fonts/source/sourcesanspro-blackit.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Black';
  src: url("/styles/fonts/source/sourcesanspro-black.eot");
  src: url("/styles/fonts/source/sourcesanspro-black.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/source/sourcesanspro-black.woff2") format("woff2"), url("/styles/fonts/source/sourcesanspro-black.woff") format("woff"), url("/styles/fonts/source/sourcesanspro-black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Bold Italic';
  src: url("/styles/fonts/source/sourcesanspro-boldit.eot");
  src: url("/styles/fonts/source/sourcesanspro-boldit.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/source/sourcesanspro-boldit.woff2") format("woff2"), url("/styles/fonts/source/sourcesanspro-boldit.woff") format("woff"), url("/styles/fonts/source/sourcesanspro-boldit.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

#dashboard .sidebar-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 76px;
  height: 100%;
  padding-top: 76px;
  background: #DDE4FE;
  z-index: 1; }
  #dashboard .sidebar-container .sidebar {
    list-style: none;
    padding: 0; }
    #dashboard .sidebar-container .sidebar li {
      text-align: center;
      font-size: 0.8rem;
      text-transform: uppercase; }
      #dashboard .sidebar-container .sidebar li a {
        padding: 15px 5px;
        display: block;
        color: #fff; }
        #dashboard .sidebar-container .sidebar li a .img-container {
          max-width: 70%;
          margin: 0 auto;
          font-size: 30px; }
          #dashboard .sidebar-container .sidebar li a .img-container img {
            margin: 0 auto 10px auto; }
        #dashboard .sidebar-container .sidebar li a:hover, #dashboard .sidebar-container .sidebar li a.active {
          background: #abbdfd;
          text-decoration: none; }
