@font-face {
  font-family: 'Source Sans Pro Extra Light Italic';
  src: url("/styles/fonts/source/sourcesanspro-extralightit.eot");
  src: url("/styles/fonts/source/sourcesanspro-extralightit.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/source/sourcesanspro-extralightit.woff2") format("woff2"), url("/styles/fonts/source/sourcesanspro-extralightit.woff") format("woff"), url("/styles/fonts/source/sourcesanspro-extralightit.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Light';
  src: url("/styles/fonts/source/sourcesanspro-light.eot");
  src: url("/styles/fonts/source/sourcesanspro-light.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/source/sourcesanspro-light.woff2") format("woff2"), url("/styles/fonts/source/sourcesanspro-light.woff") format("woff"), url("/styles/fonts/source/sourcesanspro-light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Regular';
  src: url("/styles/fonts/source/sourcesanspro-regular.eot");
  src: url("/styles/fonts/source/sourcesanspro-regular.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/source/sourcesanspro-regular.woff2") format("woff2"), url("/styles/fonts/source/sourcesanspro-regular.woff") format("woff"), url("/styles/fonts/source/sourcesanspro-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Bold';
  src: url("/styles/fonts/source/sourcesanspro-bold.eot");
  src: url("/styles/fonts/source/sourcesanspro-bold.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/source/sourcesanspro-bold.woff2") format("woff2"), url("/styles/fonts/source/sourcesanspro-bold.woff") format("woff"), url("/styles/fonts/source/sourcesanspro-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Extra Light';
  src: url("/styles/fonts/source/sourcesanspro-extralight.eot");
  src: url("/styles/fonts/source/sourcesanspro-extralight.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/source/sourcesanspro-extralight.woff2") format("woff2"), url("/styles/fonts/source/sourcesanspro-extralight.woff") format("woff"), url("/styles/fonts/source/sourcesanspro-extralight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Semi Bold';
  src: url("/styles/fonts/source/sourcesanspro-semibold.eot");
  src: url("/styles/fonts/source/sourcesanspro-semibold.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/source/sourcesanspro-semibold.woff2") format("woff2"), url("/styles/fonts/source/sourcesanspro-semibold.woff") format("woff"), url("/styles/fonts/source/sourcesanspro-semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Light Italic';
  src: url("/styles/fonts/source/sourcesanspro-lightit.eot");
  src: url("/styles/fonts/source/sourcesanspro-lightit.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/source/sourcesanspro-lightit.woff2") format("woff2"), url("/styles/fonts/source/sourcesanspro-lightit.woff") format("woff"), url("/styles/fonts/source/sourcesanspro-lightit.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Italic';
  src: url("/styles/fonts/source/sourcesanspro-it.eot");
  src: url("/styles/fonts/source/sourcesanspro-it.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/source/sourcesanspro-it.woff2") format("woff2"), url("/styles/fonts/source/sourcesanspro-it.woff") format("woff"), url("/styles/fonts/source/sourcesanspro-it.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Semibold Italic';
  src: url("/styles/fonts/source/sourcesanspro-semiboldit.eot");
  src: url("/styles/fonts/source/sourcesanspro-semiboldit.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/source/sourcesanspro-semiboldit.woff2") format("woff2"), url("/styles/fonts/source/sourcesanspro-semiboldit.woff") format("woff"), url("/styles/fonts/source/sourcesanspro-semiboldit.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Black Italic';
  src: url("/styles/fonts/source/sourcesanspro-blackit.eot");
  src: url("/styles/fonts/source/sourcesanspro-blackit.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/source/sourcesanspro-blackit.woff2") format("woff2"), url("/styles/fonts/source/sourcesanspro-blackit.woff") format("woff"), url("/styles/fonts/source/sourcesanspro-blackit.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Black';
  src: url("/styles/fonts/source/sourcesanspro-black.eot");
  src: url("/styles/fonts/source/sourcesanspro-black.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/source/sourcesanspro-black.woff2") format("woff2"), url("/styles/fonts/source/sourcesanspro-black.woff") format("woff"), url("/styles/fonts/source/sourcesanspro-black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Bold Italic';
  src: url("/styles/fonts/source/sourcesanspro-boldit.eot");
  src: url("/styles/fonts/source/sourcesanspro-boldit.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/source/sourcesanspro-boldit.woff2") format("woff2"), url("/styles/fonts/source/sourcesanspro-boldit.woff") format("woff"), url("/styles/fonts/source/sourcesanspro-boldit.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.singleApp .graph-title {
  margin-top: 15px;
  font-size: 1.5rem; }
  .singleApp .graph-title .summary {
    color: #B3B3B3;
    font-size: 1rem; }

.singleApp .graphView {
  padding-left: 0; }

.singleApp .nav-tab {
  list-style: none;
  padding: 0;
  float: left;
  width: 100%;
  position: relative; }
  .singleApp .nav-tab:before {
    content: '';
    border-bottom: 1px solid #B3B3B3;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px; }
  .singleApp .nav-tab li {
    display: inline-block;
    float: left; }
    .singleApp .nav-tab li a {
      display: inline-block;
      padding: 5px 15px;
      color: #B3B3B3;
      cursor: pointer;
      border-bottom: 1px solid #B3B3B3; }
      .singleApp .nav-tab li a.active {
        color: #CDDC39;
        border-color: #CDDC39; }
      .singleApp .nav-tab li a:hover {
        color: #CDDC39;
        text-decoration: none; }
