@font-face {
  font-family: 'Source Sans Pro Extra Light Italic';
  src: url("../fonts/source/sourcesanspro-extralightit.eot");
  src: url("../fonts/source/sourcesanspro-extralightit.eot?#iefix") format("embedded-opentype"), url("../fonts/source/sourcesanspro-extralightit.woff2") format("woff2"), url("../fonts/source/sourcesanspro-extralightit.woff") format("woff"), url("../fonts/source/sourcesanspro-extralightit.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Light';
  src: url("../fonts/source/sourcesanspro-light.eot");
  src: url("../fonts/source/sourcesanspro-light.eot?#iefix") format("embedded-opentype"), url("../fonts/source/sourcesanspro-light.woff2") format("woff2"), url("../fonts/source/sourcesanspro-light.woff") format("woff"), url("../fonts/source/sourcesanspro-light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Regular';
  src: url("../fonts/source/sourcesanspro-regular.eot");
  src: url("../fonts/source/sourcesanspro-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/source/sourcesanspro-regular.woff2") format("woff2"), url("../fonts/source/sourcesanspro-regular.woff") format("woff"), url("../fonts/source/sourcesanspro-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Bold';
  src: url("../fonts/source/sourcesanspro-bold.eot");
  src: url("../fonts/source/sourcesanspro-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/source/sourcesanspro-bold.woff2") format("woff2"), url("../fonts/source/sourcesanspro-bold.woff") format("woff"), url("../fonts/source/sourcesanspro-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Extra Light';
  src: url("../fonts/source/sourcesanspro-extralight.eot");
  src: url("../fonts/source/sourcesanspro-extralight.eot?#iefix") format("embedded-opentype"), url("../fonts/source/sourcesanspro-extralight.woff2") format("woff2"), url("../fonts/source/sourcesanspro-extralight.woff") format("woff"), url("../fonts/source/sourcesanspro-extralight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Semi Bold';
  src: url("../fonts/source/sourcesanspro-semibold.eot");
  src: url("../fonts/source/sourcesanspro-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/source/sourcesanspro-semibold.woff2") format("woff2"), url("../fonts/source/sourcesanspro-semibold.woff") format("woff"), url("../fonts/source/sourcesanspro-semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Light Italic';
  src: url("../fonts/source/sourcesanspro-lightit.eot");
  src: url("../fonts/source/sourcesanspro-lightit.eot?#iefix") format("embedded-opentype"), url("../fonts/source/sourcesanspro-lightit.woff2") format("woff2"), url("../fonts/source/sourcesanspro-lightit.woff") format("woff"), url("../fonts/source/sourcesanspro-lightit.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Italic';
  src: url("../fonts/source/sourcesanspro-it.eot");
  src: url("../fonts/source/sourcesanspro-it.eot?#iefix") format("embedded-opentype"), url("../fonts/source/sourcesanspro-it.woff2") format("woff2"), url("../fonts/source/sourcesanspro-it.woff") format("woff"), url("../fonts/source/sourcesanspro-it.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Semibold Italic';
  src: url("../fonts/source/sourcesanspro-semiboldit.eot");
  src: url("../fonts/source/sourcesanspro-semiboldit.eot?#iefix") format("embedded-opentype"), url("../fonts/source/sourcesanspro-semiboldit.woff2") format("woff2"), url("../fonts/source/sourcesanspro-semiboldit.woff") format("woff"), url("../fonts/source/sourcesanspro-semiboldit.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Black Italic';
  src: url("../fonts/source/sourcesanspro-blackit.eot");
  src: url("../fonts/source/sourcesanspro-blackit.eot?#iefix") format("embedded-opentype"), url("../fonts/source/sourcesanspro-blackit.woff2") format("woff2"), url("../fonts/source/sourcesanspro-blackit.woff") format("woff"), url("../fonts/source/sourcesanspro-blackit.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Black';
  src: url("../fonts/source/sourcesanspro-black.eot");
  src: url("../fonts/source/sourcesanspro-black.eot?#iefix") format("embedded-opentype"), url("../fonts/source/sourcesanspro-black.woff2") format("woff2"), url("../fonts/source/sourcesanspro-black.woff") format("woff"), url("../fonts/source/sourcesanspro-black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Bold Italic';
  src: url("../fonts/source/sourcesanspro-boldit.eot");
  src: url("../fonts/source/sourcesanspro-boldit.eot?#iefix") format("embedded-opentype"), url("../fonts/source/sourcesanspro-boldit.woff2") format("woff2"), url("../fonts/source/sourcesanspro-boldit.woff") format("woff"), url("../fonts/source/sourcesanspro-boldit.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

html,
body {
  background: #fafafa;
  color: #555;
  font-size: 14px;
  height: 100%;
  font-family: "Source Sans Pro Regular"; }

.theme-btn {
  background: #dedede;
  color: #fff;
  border: 0;
  box-shadow: none;
  border-radius: 6px;
  padding: 4px 8px; }
  .theme-btn:hover, .theme-btn.active {
    background: #CDDC39;
    text-decoration: none; }
  .theme-btn[disabled] {
    opacity: 0.6;
    cursor: not-allowed; }
  .theme-btn.bg-btn {
    font-size: 2rem;
    padding: 8px 16px; }

.appList, .singleApp {
  position: relative;
  padding: 30px; }
  .appList .app-card-container, .singleApp .app-card-container {
    padding: 15px 30px 15px 0; }
  .appList .new-app-container, .singleApp .new-app-container {
    margin: 0; }
  .appList .app-card, .singleApp .app-card {
    border-radius: 8px;
    background: #f7f7f7;
    padding: 12px;
    text-align: center;
    border: 6px solid transparent; }
    .appList .app-card.new-app, .singleApp .app-card.new-app {
      padding: 8px 0;
      border: 6px dotted #f7f7f7;
      background: #fff; }
    .appList .app-card .caption, .singleApp .app-card .caption {
      font-size: 1.2rem;
      line-height: 39px; }
    .appList .app-card .title, .singleApp .app-card .title {
      font-size: 1.5rem;
      line-height: 2.5rem;
      marker-top: 15px; }
      .appList .app-card .title a, .singleApp .app-card .title a {
        width: 100%;
        display: block;
        background: #dedede;
        color: #fff; }
        .appList .app-card .title a:hover, .singleApp .app-card .title a:hover {
          background: #CDDC39;
          text-decoration: none; }
    .appList .app-card .app-card-progress .app-card-progress-container, .singleApp .app-card .app-card-progress .app-card-progress-container {
      height: 100px;
      width: 100px;
      margin: auto;
      position: relative;
      margin-bottom: 15px; }
      .appList .app-card .app-card-progress .app-card-progress-container.plus-icon, .singleApp .app-card .app-card-progress .app-card-progress-container.plus-icon {
        border: 1px solid #B3B3B3;
        border-radius: 50%;
        color: #B3B3B3;
        font-size: 70px;
        font-family: "Source Sans Pro Extra Light"; }
      .appList .app-card .app-card-progress .app-card-progress-container .appCount, .singleApp .app-card .app-card-progress .app-card-progress-container .appCount {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        left: 0;
        top: 0;
        margin: auto;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center; }
    .appList .app-card.permissionView .permission-row, .singleApp .app-card.permissionView .permission-row {
      padding: 5px 0;
      text-align: left; }
      .appList .app-card.permissionView .permission-row .key, .singleApp .app-card.permissionView .permission-row .key {
        text-transform: uppercase; }
      .appList .app-card.permissionView .permission-row .value, .singleApp .app-card.permissionView .permission-row .value {
        user-select: all;
        -moz-user-select: all;
        -khtml-user-select: all;
        -webkit-user-select: all;
        -o-user-select: all; }

#dashboard {
  height: 100%; }

.app-container {
  padding: 0;
  height: 100%;
  position: relative;
  padding: 0; }

#dashboard-container {
  padding: 60px 0 0 0;
  position: absolute;
  right: 0;
  top: 0;
  overflow: auto;
  height: 100%;
  width: 100%; }
  #dashboard-container .page-info {
    margin: 0 0 15px 0; }
    #dashboard-container .page-info .page-title {
      margin: 0 0 5px 0; }

.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; }
  .loadingContainer .loading {
    max-width: 50%;
    padding: 15px;
    background: #CDDC39;
    border-radius: 6px;
    color: #fff;
    font-size: 18px; }
    .loadingContainer .loading span {
      float: right;
      line-height: 60px; }
  .loadingContainer.normal {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0; }
    .loadingContainer.normal .loading {
      width: 100%;
      max-width: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
      .loadingContainer.normal .loading span {
        float: none;
        line-height: 1rem; }

.app-list-item {
  line-height: 40px;
  background: #fff;
  border-radius: 2px;
  font-size: 18px;
  border-bottom: 1px solid #eee;
  padding: 12px;
  margin: 0;
  cursor: pointer;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  position: relative; }
  .app-list-item:hover, .app-list-item:focus {
    background: #fcfcfc; }
  .app-list-item > div {
    width: 33.333%;
    vertical-align: middle;
    height: 40px;
    display: inline-flex; }
  .app-list-item .text {
    padding-left: 12px; }
  .app-list-item .progress-wrapper {
    width: 40px;
    height: 40px;
    display: inline-block; }
  .app-list-item.app-list-header .sortBy-container {
    padding: 0; }
    .app-list-item.app-list-header .sortBy-container .sortBy {
      border: 0;
      border-right: 1px solid #efefef;
      box-shadow: none;
      width: 100%;
      background: #f7f7f7; }
      .app-list-item.app-list-header .sortBy-container .sortBy.active {
        background: #efefef;
        outline: none; }
    .app-list-item.app-list-header .sortBy-container:last-child .sortBy {
      border: 0; }

#login h1 {
  margin-bottom: 45px; }

#login .modal-appbase .modal-content {
  border-radius: 4px;
  border: 3px solid;
  font-family: "Source Sans Pro Light";
  color: #fff;
  background: #CDDC39; }
  #login .modal-appbase .modal-content .modal-header {
    font-family: "Source Sans Pro Light";
    font-size: 18px;
    background-color: inherit;
    border: 0;
    padding: 5px 15px 0 15px; }
  #login .modal-appbase .modal-content .modal-footer {
    border: 0;
    padding-top: 0; }
  #login .modal-appbase .modal-content .modal-body {
    padding-top: 15px; }
  #login .modal-appbase .modal-content .mr15 {
    margin-right: 15px; }
  #login .modal-appbase .modal-content .mt25 {
    margin-top: 25px; }
  #login .modal-appbase .modal-content .close {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 0;
    font-size: 14px;
    line-height: 14px;
    padding: 3px 0;
    text-align: center;
    position: absolute;
    right: 5px;
    top: 5px;
    margin-top: 0;
    background: transparent;
    opacity: 1;
    font-family: "Source Sans Pro Light"; }
  #login .modal-appbase .modal-content .modal-btn {
    background: transparent;
    color: inherit;
    border: 1px solid;
    font-family: "Source Sans Pro Light";
    font-size: 16px;
    padding: 4px 20px; }
  #login .modal-appbase .modal-content .contact-link {
    color: #fff;
    border-bottom: 1px dotted; }

#login .modal-appbase .modal-sm .modal-body {
  padding-top: 25px; }

#login .modal-appbase#login_modal, #login .modal-appbase#signup_modal {
  margin-top: 20vh; }
  #login .modal-appbase#login_modal .modal-header, #login .modal-appbase#signup_modal .modal-header {
    padding: 35px 15px 0 15px; }

#ad-navbar.navbar {
  background: #5678FC;
  border-radius: 0;
  border: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  height: 60px; }
  #ad-navbar.navbar .navbar-brand {
    height: 60px;
    font-size: 1.75rem;
    text-transform: uppercase;
    padding: 1rem;
    color: #fff;
    display: inline-block;
    position: relative;
    max-width: 500px; }
    #ad-navbar.navbar .navbar-brand img {
      height: 100%;
      display: inline-block;
      float: left; }
    #ad-navbar.navbar .navbar-brand span {
      float: left;
      padding: 0.5rem 0; }
  #ad-navbar.navbar .userImg {
    border: 0;
    background: transparent;
    padding: 15px;
    margin-right: -15px;
    width: 70px;
    max-height: 60px;
    overflow: hidden; }
    #ad-navbar.navbar .userImg .img-container {
      display: inline-block;
      position: relative; }
      #ad-navbar.navbar .userImg .img-container img {
        border-radius: 50%; }
      #ad-navbar.navbar .userImg .img-container .close {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        line-height: 46px; }
    #ad-navbar.navbar .userImg:hover .close {
      background: rgba(205, 220, 57, 0.9);
      display: inline-block;
      color: #000; }
  #ad-navbar.navbar li {
    height: 60px; }
    #ad-navbar.navbar li a {
      font-size: 1rem;
      text-transform: uppercase;
      padding: 1.5rem 1rem;
      color: #fff; }
    #ad-navbar.navbar li .apps-dropdown-toggle {
      position: relative; }
      #ad-navbar.navbar li .apps-dropdown-toggle i {
        position: absolute;
        left: -0.1rem;
        top: 1.65rem; }
  #ad-navbar.navbar li.dropdown > a {
    position: relative;
    padding-bottom: 8px; }
    #ad-navbar.navbar li.dropdown > a:before {
      content: " ";
      position: absolute;
      right: 1px;
      bottom: 12px;
      border-width: 4px;
      border-style: solid;
      border-color: #fff transparent transparent transparent; }
    #ad-navbar.navbar li.dropdown > a:hover {
      background: transparent; }
  #ad-navbar.navbar li.dropdown:hover > a:after {
    content: " ";
    position: absolute;
    right: 1px;
    bottom: 0;
    border-width: 4px;
    border-style: solid;
    border-color: transparent transparent #f7f7f7 transparent; }
  #ad-navbar.navbar li.dropdown a {
    margin-bottom: 0; }
  #ad-navbar.navbar li.dropdown:hover .dropdown-menu {
    display: block; }
  #ad-navbar.navbar li.dropdown .dropdown-menu {
    border: none;
    border-radius: 0;
    padding: 0;
    left: 0;
    margin-top: -11px;
    right: auto;
    background: #f7f7f7;
    max-height: 500px;
    overflow: auto; }
    #ad-navbar.navbar li.dropdown .dropdown-menu li {
      height: auto; }
      #ad-navbar.navbar li.dropdown .dropdown-menu li a {
        border-radius: 0;
        margin: 0;
        color: #5678FC;
        padding: 0.75rem; }
        #ad-navbar.navbar li.dropdown .dropdown-menu li a.withIcon {
          padding-left: 42px; }
          #ad-navbar.navbar li.dropdown .dropdown-menu li a.withIcon img {
            position: absolute;
            left: 10px;
            margin-top: 3px;
            max-width: 22px; }
        #ad-navbar.navbar li.dropdown .dropdown-menu li a:hover {
          background: #fff;
          color: #5678FC !important; }
      #ad-navbar.navbar li.dropdown .dropdown-menu li a:hover,
      #ad-navbar.navbar li.dropdown .dropdown-menu li a:active,
      #ad-navbar.navbar li.dropdown .dropdown-menu li a.active {
        color: #5678FC; }

#onboarding-container {
  display: block;
  float: left;
  width: 100%;
  height: 100%;
  position: relative; }
  #onboarding-container .left, #onboarding-container .right {
    position: absolute; }
  #onboarding-container .jsonPopoverBtn {
    background: transparent;
    border: 2px solid #CDDC39;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 12px; }
    #onboarding-container .jsonPopoverBtn:before {
      content: "{...}"; }
  #onboarding-container .liveExample {
    padding: 15px; }
  #onboarding-container .tutorial-tabs {
    text-align: initial; }

#dashboard .sidebar-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 76px;
  height: 100%;
  padding-top: 0;
  background: #DDE4FE;
  z-index: 2; }
  #dashboard .sidebar-container .sidebar {
    list-style: none;
    padding: 0; }
    #dashboard .sidebar-container .sidebar li {
      text-align: center;
      font-size: 0.8rem;
      text-transform: uppercase; }
      #dashboard .sidebar-container .sidebar li a {
        padding: 15px 5px;
        display: block;
        color: #fff; }
        #dashboard .sidebar-container .sidebar li a .img-container {
          max-width: 70%;
          margin: 0 auto;
          font-size: 30px; }
          #dashboard .sidebar-container .sidebar li a .img-container img {
            margin: 0 auto 10px auto; }
        #dashboard .sidebar-container .sidebar li a:hover, #dashboard .sidebar-container .sidebar li a.active {
          background: #abbdfd;
          text-decoration: none; }

.singleApp-container {
  position: relative;
  padding: 0 0 0 76px;
  margin: 0;
  height: 100%; }
  .singleApp-container .plugin-view-container {
    position: relative;
    height: 100%; }
    .singleApp-container .plugin-view-container .plugin-view {
      padding: 30px 0 0 30px;
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      width: 100%;
      overflow: auto; }
      .singleApp-container .plugin-view-container .plugin-view .plugin-container {
        position: relative;
        width: 100%;
        height: 100%;
        border: 1px solid #f7f7f7; }
        .singleApp-container .plugin-view-container .plugin-view .plugin-container .plugin-loading-container {
          display: flex;
          height: 500px;
          align-items: center;
          justify-content: center;
          width: 100%; }
          .singleApp-container .plugin-view-container .plugin-view .plugin-container .plugin-loading-container .loadingContainer {
            max-width: 200px;
            left: auto; }
  .singleApp-container .singleApp {
    padding: 0; }
    .singleApp-container .singleApp .graph-title {
      margin-top: 15px;
      font-size: 1.5rem; }
      .singleApp-container .singleApp .graph-title .summary {
        color: #B3B3B3;
        font-size: 1rem; }
    .singleApp-container .singleApp .nav-tab {
      list-style: none;
      padding: 0;
      float: left;
      width: 100%;
      position: relative; }
      .singleApp-container .singleApp .nav-tab:before {
        content: '';
        border-bottom: 1px solid #B3B3B3;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px; }
      .singleApp-container .singleApp .nav-tab li {
        display: inline-block;
        float: left; }
        .singleApp-container .singleApp .nav-tab li a {
          display: inline-block;
          padding: 5px 15px;
          color: #B3B3B3;
          position: relative;
          cursor: pointer;
          border-bottom: 1px solid #B3B3B3; }
          .singleApp-container .singleApp .nav-tab li a:before {
            content: ' ';
            position: absolute;
            width: 100%;
            height: 1px;
            background: transparent;
            bottom: -1px;
            left: 0; }
          .singleApp-container .singleApp .nav-tab li a.active {
            color: #CDDC39;
            border-color: #CDDC39; }
            .singleApp-container .singleApp .nav-tab li a.active:before {
              background: #CDDC39; }
          .singleApp-container .singleApp .nav-tab li a:hover {
            color: #CDDC39;
            text-decoration: none; }

.ad-actionbuttons {
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  height: 100%;
  z-index: 2; }
  .ad-actionbuttons .dropdown-menu {
    min-width: 5px;
    padding: 0;
    margin: 0; }
  .ad-actionbuttons .delete {
    padding: 10px;
    font-size: 18px; }
