html,
body {
  background: #F3F8F9;
  color: #555;
  font-size: 14px;
  height: 100%;
  font-family: "Source Sans Pro Regular"; }

.p-0 {
  padding: 0; }

.pos-relative {
  position: relative; }

.theme-btn {
  background: #dedede;
  color: #fff;
  border: 0;
  box-shadow: none;
  border-radius: 6px;
  padding: 4px 8px; }
  .theme-btn:hover, .theme-btn.active {
    background: #CDDC39;
    text-decoration: none; }
  .theme-btn[disabled] {
    opacity: 0.6;
    cursor: not-allowed; }
  .theme-btn.bg-btn {
    font-size: 2rem;
    padding: 8px 16px; }

.ad-theme-btn {
  color: #6f6f6f;
  background: #f7f7f7;
  border: 1px solid;
  border-color: #dedede;
  padding: 4px 8px;
  font-size: 1rem; }
  .ad-theme-btn:hover, .ad-theme-btn.active {
    color: #5a5a5a;
    background: #eaeaea;
    text-decoration: none; }
  .ad-theme-btn.primary {
    background: #CDDC39;
    border-color: #b2c022;
    color: #fff; }
    .ad-theme-btn.primary:hover, .ad-theme-btn.primary.active {
      background: #b2c022;
      text-decoration: none; }
  .ad-theme-btn.danger {
    background: #d9534f;
    border-color: #c9302c;
    color: #fff; }
    .ad-theme-btn.danger:hover, .ad-theme-btn.danger.active {
      background: #c9302c;
      text-decoration: none; }
    .ad-theme-btn.danger.transparent {
      background: #fff;
      color: #d9534f; }
      .ad-theme-btn.danger.transparent:hover, .ad-theme-btn.danger.transparent.active {
        background: #c9302c;
        color: #fff; }
  .ad-theme-btn.warning {
    background: #F5E79E;
    border-color: #f0dc70;
    color: #fff; }
    .ad-theme-btn.warning:hover, .ad-theme-btn.warning.active {
      background: #f0dc70;
      text-decoration: none; }
    .ad-theme-btn.warning.transparent {
      background: #fff;
      color: #F5E79E; }
      .ad-theme-btn.warning.transparent:hover, .ad-theme-btn.warning.transparent.active {
        background: #f0dc70;
        color: #fff; }
  .ad-theme-btn.danger-reverse {
    color: #d9534f;
    border-color: transparent;
    background: transparent; }
    .ad-theme-btn.danger-reverse:hover, .ad-theme-btn.danger-reverse.active {
      background: #e6e6e6;
      text-decoration: none; }
  .ad-theme-btn[disabled] {
    opacity: 0.6;
    cursor: not-allowed; }
  .ad-theme-btn.lg-btn {
    font-size: 1.2rem;
    padding: 6px 12px; }

.animation .fadein {
  opacity: 1;
  -webkit-animation: fadein 0.5s;
  -moz-animation: fadein 0.5s;
  -ms-animation: fadin 0.5s;
  -o-animation: fadein 0.5s;
  animation: fadein 0.5s; }

.animation .fadeout {
  opacity: 0;
  -webkit-animation: fadeout 0.5s;
  -moz-animation: fadeout 0.5s;
  -ms-animation: fadeout 0.5s;
  -o-animation: fadeout 0.5s;
  animation: fadeout 0.5s; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeout {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-moz-keyframes fadeout {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-webkit-keyframes fadeout {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-ms-keyframes fadeout {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-o-keyframes fadeout {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

#login h1 {
  margin-bottom: 45px; }

#login_modal.modal .modal-dialog {
  width: 350px;
  margin: 0 auto; }

#login_modal.modal .modal-content {
  border-radius: 4px;
  border: 3px solid;
  font-family: "Source Sans Pro Light";
  color: #fff;
  background: #CDDC39; }
  #login_modal.modal .modal-content .modal-header {
    font-family: "Source Sans Pro Light";
    font-size: 18px;
    background-color: inherit;
    border: 0;
    padding: 5px 15px 0 15px;
    text-align: center; }
    #login_modal.modal .modal-content .modal-header .modal-title {
      text-align: center;
      color: #fff; }
  #login_modal.modal .modal-content .modal-footer {
    border: 0;
    padding-top: 0; }
  #login_modal.modal .modal-content .modal-body {
    padding-top: 15px;
    text-align: center; }
  #login_modal.modal .modal-content .mr15 {
    margin-right: 15px; }
  #login_modal.modal .modal-content .mt25 {
    margin-top: 25px; }
  #login_modal.modal .modal-content .close {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 0;
    font-size: 14px;
    line-height: 14px;
    padding: 3px 0;
    text-align: center;
    position: absolute;
    right: 5px;
    top: 5px;
    margin-top: 0;
    background: transparent;
    opacity: 1;
    font-family: "Source Sans Pro Light"; }
  #login_modal.modal .modal-content .modal-btn {
    background: transparent;
    color: inherit;
    border: 1px solid;
    font-family: "Source Sans Pro Light";
    font-size: 16px;
    padding: 4px 20px; }
  #login_modal.modal .modal-content .contact-link {
    color: #fff;
    border-bottom: 1px dotted; }

#login_modal.modal .modal-sm .modal-body {
  padding-top: 25px; }

#login_modal.modal#login_modal, #login_modal.modal#signup_modal {
  margin-top: 20vh; }
  #login_modal.modal#login_modal .modal-header, #login_modal.modal#signup_modal .modal-header {
    padding: 35px 15px 0 15px; }

.navbar.navbar-default {
  background: #5678FC;
  border-radius: 0;
  border: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  height: 60px; }
  .navbar.navbar-default .navbar-brand {
    height: 60px;
    font-size: 1.75rem;
    text-transform: uppercase;
    padding: 1rem;
    color: #fff;
    display: inline-block;
    position: relative;
    max-width: 500px; }
    .navbar.navbar-default .navbar-brand img {
      height: 100%;
      display: inline-block;
      float: left; }
    .navbar.navbar-default .navbar-brand span {
      float: left;
      padding: 0.5rem 0; }
  .navbar.navbar-default .user-img {
    border: 0;
    background: transparent;
    padding: 15px;
    margin-right: -15px;
    width: 70px;
    max-height: 60px;
    overflow: hidden; }
    .navbar.navbar-default .user-img .img-container {
      display: inline-block;
      position: relative; }
      .navbar.navbar-default .user-img .img-container img {
        border-radius: 50%; }
      .navbar.navbar-default .user-img .img-container .close {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        line-height: 46px; }
    .navbar.navbar-default .user-img:hover .close {
      background: rgba(205, 220, 57, 0.9);
      display: inline-block;
      color: #000; }
  .navbar.navbar-default li {
    height: 60px; }
    .navbar.navbar-default li a {
      font-size: 1rem;
      text-transform: uppercase;
      padding: 1.5rem 1rem;
      color: #fff; }
      .navbar.navbar-default li a:hover, .navbar.navbar-default li a:focus {
        color: #fafafa; }
    .navbar.navbar-default li .apps-dropdown-toggle {
      position: relative; }
      .navbar.navbar-default li .apps-dropdown-toggle i {
        position: absolute;
        left: -0.1rem;
        top: 1.65rem; }
  .navbar.navbar-default li.dropdown > a {
    position: relative;
    padding-bottom: 8px; }
    .navbar.navbar-default li.dropdown > a:before {
      content: " ";
      position: absolute;
      right: 1px;
      bottom: 12px;
      border-width: 4px;
      border-style: solid;
      border-color: #fff transparent transparent transparent; }
    .navbar.navbar-default li.dropdown > a:hover {
      background: transparent; }
  .navbar.navbar-default li.dropdown:hover > a:after {
    content: " ";
    position: absolute;
    right: 1px;
    bottom: 0;
    border-width: 4px;
    border-style: solid;
    border-color: transparent transparent #f7f7f7 transparent; }
  .navbar.navbar-default li.dropdown a {
    margin-bottom: 0; }
  .navbar.navbar-default li.dropdown:hover .dropdown-menu {
    display: block; }
  .navbar.navbar-default li.dropdown .dropdown-menu {
    border: none;
    border-radius: 0;
    padding: 0;
    left: 0;
    margin-top: -11px;
    right: auto;
    background: #f7f7f7;
    max-height: 500px;
    overflow: auto; }
    .navbar.navbar-default li.dropdown .dropdown-menu li {
      height: auto; }
      .navbar.navbar-default li.dropdown .dropdown-menu li a {
        border-radius: 0;
        margin: 0;
        color: #5678FC;
        padding: 0.75rem; }
        .navbar.navbar-default li.dropdown .dropdown-menu li a .ad-list-app-header-owner {
          padding-left: 5px; }
        .navbar.navbar-default li.dropdown .dropdown-menu li a.withIcon {
          padding-left: 42px; }
          .navbar.navbar-default li.dropdown .dropdown-menu li a.withIcon img {
            position: absolute;
            left: 10px;
            margin-top: 3px;
            max-width: 22px; }
        .navbar.navbar-default li.dropdown .dropdown-menu li a:hover {
          background: #fff;
          color: #5678FC !important; }
      .navbar.navbar-default li.dropdown .dropdown-menu li a:hover,
      .navbar.navbar-default li.dropdown .dropdown-menu li a:active,
      .navbar.navbar-default li.dropdown .dropdown-menu li a.active {
        color: #5678FC; }

.ad-actionbuttons {
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  height: 100%;
  z-index: 2; }
  .ad-actionbuttons .dropdown-menu {
    min-width: 5px;
    padding: 0;
    margin: 0; }
  .ad-actionbuttons .delete {
    padding: 10px;
    font-size: 18px; }

#onboarding-container {
  display: block;
  float: left;
  width: 100%;
  height: 100%;
  position: relative; }
  #onboarding-container .left, #onboarding-container .right {
    position: absolute; }
  #onboarding-container .jsonPopoverBtn {
    background: transparent;
    border: 2px solid #CDDC39;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 12px; }
    #onboarding-container .jsonPopoverBtn:before {
      content: "{...}"; }
  #onboarding-container .liveExample {
    padding: 15px; }
  #onboarding-container .tutorial-tabs {
    text-align: initial; }

.appcard {
  margin: 15px 0; }

.ad-dashboard .body-card-body-api-view {
  margin: 0;
  padding-bottom: 15px; }

.ad-dashboard .nav-tab {
  list-style: none;
  padding: 0;
  float: right;
  width: auto;
  position: relative;
  font-size: 1rem;
  margin: 0; }
  .ad-dashboard .nav-tab li {
    display: inline-block;
    float: left;
    padding: 4px 8px; }
    .ad-dashboard .nav-tab li a {
      display: inline-block;
      padding: 0;
      color: #B3B3B3;
      position: relative;
      cursor: pointer;
      border-bottom: 2px solid transparent; }
      .ad-dashboard .nav-tab li a.active {
        color: #CDDC39;
        border-color: #CDDC39; }
        .ad-dashboard .nav-tab li a.active:before {
          background: #CDDC39; }
      .ad-dashboard .nav-tab li a:hover {
        color: #CDDC39;
        text-decoration: none; }

.ad-list .ad-list-header {
  background: #fff;
  padding: 15px 15px 25px;
  font-size: 14px;
  margin: 0 0 15px 0;
  border-bottom: 1px solid #dedede; }
  .ad-list .ad-list-header h3 {
    font-size: 22px;
    letter-spacing: 0.01em;
    margin-top: 10px;
    font-family: "Source Sans Pro Semi Bold"; }
  .ad-list .ad-list-header ul {
    list-style: none;
    margin: 0;
    line-height: 24px;
    padding: 0 2px; }

.ad-list .ad-list-newapp {
  padding: 0; }
  .ad-list .ad-list-newapp div {
    padding-left: 0; }
  .ad-list .ad-list-newapp p {
    text-transform: uppercase;
    text-align: left;
    color: #666;
    padding-top: 10px;
    font-family: "Source Sans Pro Semi Bold"; }
  .ad-list .ad-list-newapp input {
    padding: 6px 10px 4px;
    height: 46px;
    border: 0;
    border-bottom: 2px solid #ccc;
    box-shadow: none;
    background-color: #f4f4f4; }
    .ad-list .ad-list-newapp input:focus {
      box-shadow: 0 0.3125em 1.25em 0 rgba(46, 61, 73, 0.06);
      background-color: #fafafa; }
  .ad-list .ad-list-newapp button {
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Source Sans Pro Semi Bold";
    letter-spacing: 0.05em;
    padding: 8px;
    height: 46px; }

.ad-list .ad-list-app {
  position: relative;
  margin: 0;
  cursor: pointer;
  padding: 25px;
  height: 100%;
  overflow: hidden;
  background: #fff;
  border: 0;
  border-left: 3px solid #CDDC39;
  box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
  border-radius: 0;
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }
  .ad-list .ad-list-app .ad-list-app-header {
    margin: 0 0 25px; }
    .ad-list .ad-list-app .ad-list-app-header .time {
      height: 20px;
      margin: 0;
      color: #999; }
      .ad-list .ad-list-app .ad-list-app-header .time i {
        padding-right: 2px; }
    .ad-list .ad-list-app .ad-list-app-header .ad-list-title-container .title {
      display: inline-block;
      margin: 0;
      letter-spacing: 0.02em;
      color: #666;
      font-size: 22px;
      font-family: "Source Sans Pro Semi Bold"; }
    .ad-list .ad-list-app .ad-list-app-header .ad-list-title-container .ad-list-app-header-owner {
      padding-right: 5px; }
  .ad-list .ad-list-app aside.options {
    width: 25px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -25px;
    background-color: #f2f4f2;
    text-align: center;
    border-left: #ddd;
    -webkit-transition: all .3s ease;
    transition: all .3s ease; }
    .ad-list .ad-list-app aside.options .options-item {
      padding: 5px 0;
      border-bottom: 1px solid #ddd;
      color: #666; }
      .ad-list .ad-list-app aside.options .options-item .card-icon {
        color: #666; }
        .ad-list .ad-list-app aside.options .options-item .card-icon:hover {
          color: #424242; }
      .ad-list .ad-list-app aside.options .options-item:hover {
        background-color: #ccc; }
      .ad-list .ad-list-app aside.options .options-item.bottom {
        position: absolute;
        width: 100%;
        border: 0;
        bottom: 0; }
  .ad-list .ad-list-app:hover {
    box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2); }
    .ad-list .ad-list-app:hover aside.options {
      right: 0; }

.ad-metrics-summary > [class*="col-"] {
  padding-right: 0; }

.ad-metrics-summary .progress-container {
  position: relative;
  padding-left: 48px; }
  .ad-metrics-summary .progress-container .progress-wrapper {
    position: absolute;
    left: 0;
    width: 40px;
    height: 40px;
    display: inline-block; }
  .ad-metrics-summary .progress-container .progress-text {
    float: left;
    letter-spacing: 0.02em;
    word-spacing: 0.1em;
    color: #888;
    font-size: 11px;
    line-height: 14px;
    padding: 3px 0 0 0; }
  .ad-metrics-summary .progress-container .sub-title {
    font-family: "Source Sans Pro Semi Bold";
    text-transform: uppercase;
    color: #aaa;
    font-size: 12px;
    letter-spacing: 0.02em;
    padding: 0 0 5px 0; }

.ad-detail {
  position: relative;
  padding: 0 0 0 76px;
  margin: 0;
  height: 100%; }
  .ad-detail .ad-detail-view-container {
    position: relative;
    height: 100%; }
    .ad-detail .ad-detail-view-container .ad-detail-view {
      padding: 0;
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      width: 100%;
      overflow: auto; }
      .ad-detail .ad-detail-view-container .ad-detail-view .plugin-container {
        position: relative;
        width: 100%;
        height: 100%;
        border: 1px solid #f7f7f7; }
        .ad-detail .ad-detail-view-container .ad-detail-view .plugin-container .plugin-loading-container {
          display: flex;
          height: 500px;
          align-items: center;
          justify-content: center;
          width: 100%; }
          .ad-detail .ad-detail-view-container .ad-detail-view .plugin-container .plugin-loading-container .loadingContainer {
            max-width: 200px;
            left: auto; }
  .ad-detail .ad-detail-sidebar {
    position: absolute;
    left: 0;
    top: 0;
    width: 76px;
    height: 100%;
    padding-top: 0;
    background: #88a0fd;
    z-index: 2; }
    .ad-detail .ad-detail-sidebar .ad-detail-sidebar-container {
      list-style: none;
      padding: 0; }
      .ad-detail .ad-detail-sidebar .ad-detail-sidebar-container li {
        text-align: center;
        font-size: 0.8rem;
        text-transform: uppercase; }
        .ad-detail .ad-detail-sidebar .ad-detail-sidebar-container li a {
          padding: 15px 5px 15px 2px;
          display: block;
          color: #fff;
          border-left: 5px solid transparent; }
          .ad-detail .ad-detail-sidebar .ad-detail-sidebar-container li a .img-container {
            border-radius: 50%;
            padding: 10px;
            background: #fff;
            width: 40px;
            height: 40px;
            border: 2px solid #242E44;
            margin: 0 auto 5px auto; }
          .ad-detail .ad-detail-sidebar .ad-detail-sidebar-container li a:hover, .ad-detail .ad-detail-sidebar .ad-detail-sidebar-container li a.active {
            background: #5678FC;
            text-decoration: none; }
          .ad-detail .ad-detail-sidebar .ad-detail-sidebar-container li a.active {
            border-color: #CDDC39; }

.loadingBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  z-index: 800;
  background: #CDDC39;
  transform: translateX(100%);
  display: block;
  animation: shift-rightwards 0.5s ease-in-out infinite;
  animation-delay: .2s; }

.ad-loading {
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid #CDDC39;
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center; }
  .ad-loading .ball-clip-rotate-multiple > div {
    border-color: transparent #CDDC39; }

@keyframes shift-rightwards {
  0% {
    transform: translateX(-100%); }
  40% {
    transform: translateX(0); }
  60% {
    transform: translateX(0); }
  100% {
    transform: translateX(100%); } }

#appbase-dashboard {
  height: 100%; }

.app-container {
  padding: 0;
  height: 100%;
  position: relative;
  padding: 0; }

#dashboard-container {
  padding: 60px 0 0 0;
  position: absolute;
  right: 0;
  top: 0;
  overflow: auto;
  height: 100%;
  width: 100%; }
  #dashboard-container .page-info {
    margin: 0 0 15px 0; }
    #dashboard-container .page-info .page-title {
      margin: 0 0 5px 0; }

.ad-detail-page {
  margin: 0; }
  .ad-detail-page .ad-detail-page-header {
    background: #fff;
    padding: 22px 15px;
    border-bottom: 1px solid #dedede;
    position: relative; }
    .ad-detail-page .ad-detail-page-header .ad-detail-page-title {
      font-size: 1.7rem;
      line-height: 2.2rem;
      font-family: "Source Sans Pro Semi Bold";
      margin: 0;
      display: inline-block; }
    .ad-detail-page .ad-detail-page-header .ad-detail-page-header-sidebar {
      float: right;
      text-align: right;
      padding: 0; }
    .ad-detail-page .ad-detail-page-header.header-inline-summary p {
      display: inline;
      padding-left: 10px; }
  .ad-detail-page .ad-detail-page-body {
    padding: 15px; }
    .ad-detail-page .ad-detail-page-body > [class*="col-"] {
      padding-left: 0; }
      .ad-detail-page .ad-detail-page-body > [class*="col-"]:last-child {
        padding-right: 0; }
      @media screen and (max-width: 768px) {
        .ad-detail-page .ad-detail-page-body > [class*="col-"] {
          padding: 0; } }
    .ad-detail-page .ad-detail-page-body .ad-detail-page-body-card {
      background: #fff;
      margin-bottom: 20px;
      border: 1px solid transparent;
      border-radius: 3px;
      -webkit-box-shadow: 0 1px 0 #c5cad8, 0 2px 3px #d4d8e3;
      box-shadow: 0 1px 0 #c5cad8, 0 2px 3px #d4d8e3; }
      .ad-detail-page .ad-detail-page-body .ad-detail-page-body-card .ad-detail-page-body-card-title {
        background-color: #fff;
        padding: 10px 15px;
        font-size: 1.5rem; }
        .ad-detail-page .ad-detail-page-body .ad-detail-page-body-card .ad-detail-page-body-card-title.with-border {
          border-bottom: 1px solid #dedede; }
    .ad-detail-page .ad-detail-page-body.other-page-body {
      padding-top: 0; }

.permission-card {
  padding: 15px; }
  .permission-card .permission-card-header {
    font-size: 1.5rem;
    padding: 0;
    margin-bottom: 5px; }
    .permission-card .permission-card-header .permission-editable .ad-editable-edit {
      padding: 0; }
    .permission-card .permission-card-header .permission-delete {
      opacity: 0;
      -webkit-animation: fadeout 0.5s;
      -moz-animation: fadeout 0.5s;
      -ms-animation: fadeout 0.5s;
      -o-animation: fadeout 0.5s;
      animation: fadeout 0.5s; }
  .permission-card .permission-card-body {
    padding: 0; }
    .permission-card .permission-card-body .permission-card-body-description {
      font-size: 0.9rem;
      color: #B3B3B3; }
  .permission-card:hover .permission-card-header .permission-delete, .permission-card.delete-active .permission-card-header .permission-delete {
    opacity: 1;
    -webkit-animation: fadein 0.5s;
    -moz-animation: fadein 0.5s;
    -ms-animation: fadin 0.5s;
    -o-animation: fadein 0.5s;
    animation: fadein 0.5s; }

.ad-permission-key {
  position: relative;
  padding-left: 5px;
  padding-right: 59px;
  background: #f7f7f7;
  border: 1px solid #dedede; }
  .ad-permission-key .ad-permission-key-value {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 28px;
    font-size: 1rem;
    line-height: 28px; }
    .ad-permission-key .ad-permission-key-value:before {
      content: '####################################';
      background: #f7f7f7;
      position: absolute;
      width: 100%;
      height: 100%;
      display: block; }
  .ad-permission-key.active .ad-permission-key-value:before {
    display: none; }
  .ad-permission-key .ad-permission-key-buttons {
    position: absolute;
    right: 0;
    top: 0; }
    .ad-permission-key .ad-permission-key-buttons a {
      display: inline-block;
      border: 0;
      border-left: 1px solid #dedede; }

.ad-editable-container {
  height: 2.3rem;
  margin-bottom: 10px; }
  .ad-editable-container .ad-editable {
    width: auto;
    display: inline-block;
    border-bottom: 1px dashed;
    height: 2.3rem; }
    .ad-editable-container .ad-editable .ad-editable-value {
      cursor: pointer;
      margin: 0;
      font-size: 1.5rem;
      line-height: 2rem;
      height: 2rem; }
    .ad-editable-container .ad-editable .ad-editable-edit input {
      border: 0;
      outline: none;
      box-shadow: none;
      width: auto;
      font-size: 1.5rem;
      line-height: 2rem;
      height: 2rem;
      padding: 0; }
      .ad-editable-container .ad-editable .ad-editable-edit input:focus {
        outline: none; }

.ad-create {
  padding: 0; }
  .ad-create .ad-create-collapse {
    display: block; }
    .ad-create .ad-create-collapse .ad-theme-btn {
      display: inline-block; }
  .ad-create .ad-create-expand {
    display: none; }
    .ad-create .ad-create-expand .ad-create-email {
      margin-bottom: 10px; }
    .ad-create .ad-create-expand .ad-create-button-group-container {
      position: relative;
      padding: 0; }
  .ad-create.active .ad-create-collapse {
    display: none; }
  .ad-create.active .ad-create-expand {
    display: block; }
  .ad-create .ad-create-button-group {
    display: inline-block;
    margin-right: 10px; }
    .ad-create .ad-create-button-group .ad-theme-btn {
      border-right: 0;
      outline: none; }
      .ad-create .ad-create-button-group .ad-theme-btn:last-child {
        border-right: 1px solid;
        border-color: #dedede; }
      .ad-create .ad-create-button-group .ad-theme-btn.active {
        background: #cedd3d;
        color: #fff; }
      .ad-create .ad-create-button-group .ad-theme-btn:hover, .ad-create .ad-create-button-group .ad-theme-btn:focus, .ad-create .ad-create-button-group .ad-theme-btn:active {
        outline: none; }
    .ad-create .ad-create-button-group.without-margin {
      margin: 0;
      padding-right: 0; }
  .ad-create .ad-create-submit {
    width: 100%;
    text-align: center;
    float: left; }

#permission-page .ad-detail-page-body-card {
  margin-bottom: 0; }

.modal .modal-header {
  border: 0;
  padding: 5px 15px 0 15px;
  color: #CDDC39; }
  .modal .modal-header .modal-title {
    color: #CDDC39;
    padding-top: 5px;
    text-align: left; }
  .modal .modal-header .close {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 1px solid;
    font-size: 14px;
    line-height: 0px;
    padding: 3px 0;
    text-align: center;
    position: absolute;
    right: 5px;
    top: 5px;
    margin-top: 0;
    background: transparent;
    opacity: 1;
    color: #CDDC39; }

.modal .modal-content {
  background: #fff;
  border-radius: 4px;
  border: 3px solid;
  border-color: #CDDC39; }
  .modal .modal-content p {
    margin-bottom: 15px; }

.modal .btn {
  border: 1px solid; }

.modal .ad-confirm-btn {
  margin-right: 15px;
  background: transparent;
  color: #CDDC39;
  border-color: #CDDC39; }
  .modal .ad-confirm-btn:hover {
    background: #CDDC39;
    color: #fff; }

.modal .ad-cancel-btn {
  background: transparent;
  border-color: transparent; }

.modal.modal-info .modal-content {
  border-color: #CDDC39; }

.modal.modal-warning .modal-content {
  border-color: #F5E79E; }

.modal.modal-warning .modal-header .modal-title {
  color: #F5E79E; }

.modal.modal-warning .close {
  color: #F5E79E; }

.modal.modal-warning .ad-confirm-btn {
  background: transparent;
  color: #F5E79E;
  border-color: #F5E79E; }
  .modal.modal-warning .ad-confirm-btn:hover {
    background: #F5E79E;
    color: #fff; }

.modal.modal-danger .modal-content {
  border-color: #FF8484; }

.modal.modal-danger .modal-header .modal-title {
  color: #FF8484; }

.modal.modal-danger .close {
  color: #FF8484; }

.modal.modal-danger .ad-confirm-btn {
  background: transparent;
  color: #FF8484;
  border-color: #FF8484; }
  .modal.modal-danger .ad-confirm-btn:hover {
    background: #FF8484;
    color: #fff; }

#pricing-page .toggleButton .btn {
  border-radius: 20px;
  background: #55869E;
  color: #232E44;
  font-family: "Source Sans Pro Regular";
  font-size: 1.4em;
  padding: 0.5em 1em;
  outline: none; }
  #pricing-page .toggleButton .btn.left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  #pricing-page .toggleButton .btn.right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  #pricing-page .toggleButton .btn.active {
    background: #B6EF7E;
    font-size: 1.8em; }

#pricing-page .plan-bottomline {
  margin-top: 15px;
  color: #86DDF8; }

#pricing-page .new-btn {
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 1.6em;
  text-transform: uppercase;
  background: #B6EF7E;
  color: #232E44;
  padding: 4px 30px;
  height: auto;
  letter-spacing: 2px;
  border-radius: 5px;
  font-family: "Source Sans Pro Regular";
  border: 0;
  outline: none; }
  #pricing-page .new-btn:active, #pricing-page .new-btn:focus, #pricing-page .new-btn:hover, #pricing-page .new-btn:link, #pricing-page .new-btn:visited {
    color: #232E44 !important; }
  #pricing-page .new-btn.subscribed {
    background: #232E44;
    color: #fff; }
    #pricing-page .new-btn.subscribed:active, #pricing-page .new-btn.subscribed:focus, #pricing-page .new-btn.subscribed:hover, #pricing-page .new-btn.subscribed:link, #pricing-page .new-btn.subscribed:visited {
      color: #fff !important; }

#pricing-page #top-container {
  background: #232E44;
  padding-bottom: 170px; }

#pricing-page #cards {
  margin-top: -160px;
  margin-bottom: 40px; }
  #pricing-page #cards .cards-container {
    display: flex; }
    #pricing-page #cards .cards-container #free-card .price-card {
      background: #C2EEFB; }
      #pricing-page #cards .cards-container #free-card .price-card .title {
        background: #86DDF8; }
    #pricing-page #cards .cards-container #bootstrap-card .price-card {
      background: #9DE3FA; }
      #pricing-page #cards .cards-container #bootstrap-card .price-card .title {
        background: #3BC7F6; }
    #pricing-page #cards .cards-container #growth-card .price-card {
      background: #91EBF1; }
      #pricing-page #cards .cards-container #growth-card .price-card .title {
        background: #24D8E4; }
    #pricing-page #cards .cards-container .single-card-container {
      padding-left: 26px;
      padding-right: 26px; }
      #pricing-page #cards .cards-container .single-card-container .price-card {
        border-radius: 10px;
        height: 100%;
        padding-bottom: 110px; }
        #pricing-page #cards .cards-container .single-card-container .price-card .title {
          background: #3BC7F6;
          color: #fff;
          font-size: 100px;
          line-height: 100px;
          font-family: "Source Sans Pro Extra Light";
          padding: 46px 15px;
          text-align: center;
          height: 160px;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          position: relative; }
          #pricing-page #cards .cards-container .single-card-container .price-card .title .unit {
            font-size: 60px; }
          #pricing-page #cards .cards-container .single-card-container .price-card .title .superscript {
            font-size: 20px;
            text-transform: uppercase;
            position: absolute;
            width: 100%;
            height: auto;
            text-align: center;
            top: -26px;
            left: 0;
            font-family: "Source Sans Pro Regular"; }
          #pricing-page #cards .cards-container .single-card-container .price-card .title .subscript {
            font-size: 14px;
            text-transform: lowercase;
            position: absolute;
            bottom: -30px;
            right: 80px;
            height: auto;
            text-align: center; }
        #pricing-page #cards .cards-container .single-card-container .price-card .description {
          color: #232E44;
          list-style: none;
          padding-left: 0; }
          #pricing-page #cards .cards-container .single-card-container .price-card .description li {
            position: relative;
            padding: 50px;
            padding-top: 30px;
            padding-bottom: 40px; }
            #pricing-page #cards .cards-container .single-card-container .price-card .description li .logo-link {
              padding-bottom: 3px;
              border-bottom: 1px solid;
              color: #232E44; }
              #pricing-page #cards .cards-container .single-card-container .price-card .description li .logo-link:hover {
                color: #232E44; }
            #pricing-page #cards .cards-container .single-card-container .price-card .description li.with-icon {
              padding-left: 100px; }
            #pricing-page #cards .cards-container .single-card-container .price-card .description li .img-center {
              margin: 0 auto;
              padding: 0 30px; }
            #pricing-page #cards .cards-container .single-card-container .price-card .description li .icon-container {
              position: absolute;
              left: 50px;
              top: 18px;
              width: 40px;
              height: 70px;
              padding: 15px 0; }
            #pricing-page #cards .cards-container .single-card-container .price-card .description li .text-container {
              font-family: "Source Sans Pro Light"; }
              #pricing-page #cards .cards-container .single-card-container .price-card .description li .text-container .big-description {
                font-size: 1.8em;
                line-height: 1em;
                font-family: "Source Sans Pro Regular"; }
                #pricing-page #cards .cards-container .single-card-container .price-card .description li .text-container .big-description.list-bottom-gap {
                  margin-bottom: 20px; }
              #pricing-page #cards .cards-container .single-card-container .price-card .description li .text-container .figure {
                font-size: 1.8em;
                line-height: 1.4em;
                font-family: "Source Sans Pro Regular"; }
                #pricing-page #cards .cards-container .single-card-container .price-card .description li .text-container .figure.light {
                  font-family: "Source Sans Pro Extra Light"; }
              #pricing-page #cards .cards-container .single-card-container .price-card .description li .text-container .summary {
                font-size: 1.5em;
                line-height: 1em; }
              #pricing-page #cards .cards-container .single-card-container .price-card .description li .text-container .small-fonts {
                position: absolute;
                font-size: 1em; }
            #pricing-page #cards .cards-container .single-card-container .price-card .description li.subscribe-li {
              position: absolute;
              bottom: 15px;
              left: 0;
              width: 100%;
              padding-left: 60px;
              padding-right: 60px; }
        #pricing-page #cards .cards-container .single-card-container .price-card .new-btn {
          color: #232E44;
          font-family: "Source Sans Pro Regular";
          width: 100%;
          display: inline-block; }
          #pricing-page #cards .cards-container .single-card-container .price-card .new-btn.subscribed {
            color: #fff; }
    @media screen and (max-width: 767px) {
      #pricing-page #cards .cards-container {
        display: block; }
        #pricing-page #cards .cards-container .single-card-container {
          margin-bottom: 30px;
          padding: 0 80px; }
          #pricing-page #cards .cards-container .single-card-container#free-card .price-card .title {
            padding-top: 40px; }
          #pricing-page #cards .cards-container .single-card-container .price-card .title {
            line-height: 86px; }
            #pricing-page #cards .cards-container .single-card-container .price-card .title .superscript {
              top: -14px; }
            #pricing-page #cards .cards-container .single-card-container .price-card .title .subscript {
              right: 35%;
              bottom: -20px; }
          #pricing-page #cards .cards-container .single-card-container .price-card .description {
            position: relative; }
            #pricing-page #cards .cards-container .single-card-container .price-card .description li.subscribe-li {
              bottom: -120px; }
            #pricing-page #cards .cards-container .single-card-container .price-card .description li .img-center {
              max-width: 250px; } }
    @media screen and (max-width: 480px) {
      #pricing-page #cards .cards-container .single-card-container {
        padding: 0 15px; } }

#pricing-page #dedicated-card {
  background: #BBDEFB;
  color: #232E44;
  padding-top: 40px;
  padding-bottom: 40px; }
  #pricing-page #dedicated-card h3 {
    font-size: 4em;
    font-family: "Source Sans Pro Extra Light";
    padding-bottom: 30px; }
    #pricing-page #dedicated-card h3 .figure {
      font-size: 2em; }
    #pricing-page #dedicated-card h3 .unit {
      font-size: 14px; }
  #pricing-page #dedicated-card .orange-btn {
    font-family: "Source Sans Pro Regular";
    background: #FFB74D; }
  #pricing-page #dedicated-card .description {
    color: #232E44;
    list-style: none;
    padding-left: 0; }
    #pricing-page #dedicated-card .description.right-description {
      padding-top: 5px; }
      #pricing-page #dedicated-card .description.right-description li {
        padding: 5px 20px; }
    #pricing-page #dedicated-card .description li {
      position: relative;
      padding: 10px 20px; }
      #pricing-page #dedicated-card .description li.with-icon {
        padding-left: 80px; }
      #pricing-page #dedicated-card .description li .img-center {
        margin: 0 auto; }
      #pricing-page #dedicated-card .description li .icon-container {
        position: absolute;
        left: 8px;
        top: 14px;
        width: 70px;
        height: 40px;
        padding: 0 15px; }
      #pricing-page #dedicated-card .description li .text-container {
        font-family: "Source Sans Pro Extra Light"; }
        #pricing-page #dedicated-card .description li .text-container .figure {
          font-size: 1.8em;
          font-family: "Source Sans Pro Bold"; }
          #pricing-page #dedicated-card .description li .text-container .figure.regular {
            font-family: "Source Sans Pro Regular"; }
        #pricing-page #dedicated-card .description li .text-container .summary {
          font-family: "Source Sans Pro Extra Light";
          font-size: 1em; }

#pricing-page #how {
  background: #fff;
  color: #232E44;
  padding-top: 40px;
  padding-bottom: 40px; }
  #pricing-page #how h3 {
    font-size: 3em;
    font-family: "Source Sans Pro Semi Bold";
    padding-bottom: 30px;
    text-transform: uppercase; }
  #pricing-page #how .single-point {
    font-family: "Source Sans Pro Bold";
    margin-bottom: 80px; }
    #pricing-page #how .single-point h4.title {
      font-size: 2em;
      font-family: "Source Sans Pro Regular"; }
    #pricing-page #how .single-point .img-container img {
      max-width: 130px;
      padding: 15px;
      margin: 0 auto; }
      #pricing-page #how .single-point .img-container img.special-img {
        max-width: 300px;
        width: 300px; }
        #pricing-page #how .single-point .img-container img.special-img.node-img {
          padding-bottom: 20px; }

.pricing-top {
  margin-top: 0;
  padding-top: 110px;
  text-align: center;
  color: white;
  padding-top: 60px;
  padding-bottom: 80px;
  color: #86DDF8; }
  .pricing-top p {
    margin-bottom: 0;
    font-size: 24px;
    font-family: "Source Sans Pro Extra Light"; }
  .pricing-top h1 {
    padding-bottom: 40px;
    font-family: "Source Sans Pro Semi Bold";
    color: #86DDF8;
    font-size: 6em; }
  .pricing-top .signup-row {
    padding-top: 30px; }
    .pricing-top .signup-row .new-btn {
      color: #232E44 !important;
      font-family: "Source Sans Pro Semi Bold"; }

#pricing-container section {
  padding-top: 80px; }

#pricing-container #pricing-table .title {
  text-transform: uppercase;
  color: #232E44;
  font-family: "Source Sans Pro Semi Bold";
  margin-bottom: 15px;
  font-size: 2.5em;
  letter-spacing: 2px; }

#pricing-container #pricing-table .pricing .line .plan-title b {
  color: #232E44;
  font-family: "Source Sans Pro Semi Bold"; }

#pricing-container #faq-container {
  background: #f9f9f9;
  padding-top: 40px;
  padding-bottom: 40px; }
  #pricing-container #faq-container .btitle {
    text-transform: uppercase;
    color: #232E44;
    font-family: "Source Sans Pro Semi Bold";
    font-size: 2.5em;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 0; }
  #pricing-container #faq-container #feature-body .faq h2 {
    color: #232E44;
    font-family: "Source Sans Pro Regular";
    font-size: 2em; }

#paymentModal .modal-dialog {
  width: 300px;
  top: 20px; }
  #paymentModal .modal-dialog .modal-content {
    display: inline-block;
    border-radius: 6px;
    width: 300px;
    position: relative;
    background-color: #f5f5f7;
    box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.5), inset 0 1px 0 0 rgba(255, 255, 255, 0.65);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 0; }
    #paymentModal .modal-dialog .modal-content .modal-header {
      padding: 12px 36px;
      text-align: center;
      background-color: #e8e9eb;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px; }
      #paymentModal .modal-dialog .modal-content .modal-header h4 {
        font-size: 17px;
        font-weight: 700;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        text-align: center; }
      #paymentModal .modal-dialog .modal-content .modal-header .bottomline {
        font-size: 13px;
        font-weight: 500;
        color: #5b5b65;
        text-shadow: 0 1px 0 #fff;
        padding-bottom: 6px; }
      #paymentModal .modal-dialog .modal-content .modal-header .close {
        background: #222;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        color: #f5f5f7;
        font-size: 12px;
        line-height: 14px;
        position: absolute;
        right: 10px;
        text-align: center;
        padding-left: 0;
        z-index: 1; }
      #paymentModal .modal-dialog .modal-content .modal-header .Header-logo {
        position: relative;
        margin-bottom: 6px;
        height: 35px; }
        #paymentModal .modal-dialog .modal-content .modal-header .Header-logo .Header-logoWrap {
          position: absolute;
          top: -38px;
          right: 0;
          left: 0;
          width: 70px;
          height: 70px;
          margin: 0 auto; }
        #paymentModal .modal-dialog .modal-content .modal-header .Header-logo .Header-logoBevel {
          border: 1px solid rgba(0, 0, 0, 0.2);
          width: 64px;
          height: 64px;
          border-radius: 100%;
          box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
          position: absolute;
          top: 3px;
          left: 3px; }
        #paymentModal .modal-dialog .modal-content .modal-header .Header-logo .Header-logoBorder {
          border: 3px solid #fff;
          width: 70px;
          height: 70px;
          border-radius: 100%;
          box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.18), 0 2px 2px 0 rgba(0, 0, 0, 0.08);
          position: absolute;
          top: 0;
          left: 0; }
        #paymentModal .modal-dialog .modal-content .modal-header .Header-logo .Header-logoImage {
          width: 64px;
          height: 64px;
          margin: 3px;
          border-radius: 100%;
          background: #fff;
          background-position: 50% 50%;
          background-size: cover;
          display: inline-block; }
    #paymentModal .modal-dialog .modal-content .seprator-container {
      width: 100%;
      position: relative;
      background-color: #e8e9eb; }
      #paymentModal .modal-dialog .modal-content .seprator-container .seprator {
        border-top: 1px solid #fff;
        box-shadow: 0 -1px 0 0 #d2d2d3;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        width: 100%;
        height: 4px;
        background-color: #f5f5f7;
        margin-bottom: -3px; }
    #paymentModal .modal-dialog .modal-content .modal-body .final-amount {
      font-size: 14px;
      color: #000;
      text-shadow: 0 1px 0 #fff; }
    #paymentModal .modal-dialog .modal-content .modal-body .breakdown h4 {
      font-size: 14px; }
    #paymentModal .modal-dialog .modal-content .modal-body .breakdown h5 {
      font-size: 11px;
      margin-bottom: 0px; }
    #paymentModal .modal-dialog .modal-content .modal-body .breakdown p.description {
      font-size: 9px; }
    #paymentModal .modal-dialog .modal-content .saveBtn {
      position: relative;
      border-radius: 4px;
      background-color: #3ea8e5;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#44b1e8), to(#3098de));
      background-image: -webkit-linear-gradient(top, #44b1e8, #3098de);
      background-image: linear-gradient(-180deg, #44b1e8, #3098de);
      box-shadow: 0 1px 0 0 rgba(46, 86, 153, 0.15), inset 0 1px 0 0 rgba(46, 86, 153, 0.1), inset 0 -1px 0 0 rgba(46, 86, 153, 0.4);
      font-size: 17px;
      line-height: 21px;
      height: 37px;
      font-weight: 700;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
      color: #fff;
      cursor: pointer;
      width: 100%;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out; }
