$primary-color: #cddc39;
$blue-color: #5678fc;
$bg: #fff;
$dark-grey: #f7f7f7;
$grey-font: #b3b3b3;
$primary-font-color: #555;
$secondary-nav-color: #f9f9f9;
$navy: #242e44;
$n-navy: #232e44;
$n-green: #b6ef7e;
$d-green: #53683b;
$dgreen-17: #759352;
$navbar-height: 100px;
$n-lblue: #86ddf8;
$lblue: #c7f4ff;
$blue-pricing: #3eaed1;
$light-gray: #f9f9f9;
$login-bg: #fff;
$login-color: #555;
$danger-color: #d9534f;
$modal-danger: #ff8484;
$modal-warning: #f5e79e;
$sidebar: #dde4fe;
$sidebar-font-color: #fff;
$github-color: #2a2a2a;
$google-color: #dc4e41;
$alert-color: #ff5c5c;
$alert-text: #551111;
$separator-color: #d9d8e4;
$external-link-color: #326bdc;
$sidebar-color: #aeecfc;
$font-regular: 'Open Sans';
