@mixin btn-shadow() {
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.1);
    &:hover {
		box-shadow: 0 5px 5px 0 rgba(0,0,0,0.1);
    }
}

@mixin input-box() {
    border: 1px solid #D9D8E4;
    border-radius: 3px;
    box-shadow: none;
    &:focus {
        border-color: $external-link-color;
        box-shadow: 0 0 0 3px rgba(50, 107, 220, .25);
    }
}
