$primary-color: #CDDC39;
$blue-color: #5678FC;
$bg: #fff;
$dark-grey: #f7f7f7;
$grey-font: #B3B3B3;
$primary-font-color: #555;
$secondary-nav-color: #F9F9F9;
$navy: #242E44;
$n-navy: #232E44;
$n-green: #B6EF7E;
$d-green: #53683B;
$dgreen-17: #759352;
$navbar-height: 100px;
$n-lblue: #86DDF8;
$lblue: #C7F4FF;
$blue-pricing: #3EAED1;
$light-gray: #f9f9f9;
$login-bg: #fff;
$login-color: #555;
$danger-color: #d9534f;
$modal-danger: #FF8484;
$modal-warning: #F5E79E;
$sidebar: #DDE4FE;
$sidebar-font-color: #fff;
$github-color: #2A2A2A;
$google-color: #DC4E41;
$alert-color: #FF5C5C;
$alert-text: #551111;
$separator-color: #D9D8E4;
$external-link-color: #326BDC;
$sidebar-color: #AEECFC;
$font-bold-i: "Open Sans Bold Italic";
$font-black: "Open Sans Regular";
$font-black-i: "Open Sans Italic";
$font-semi-bold-i: "Open Sans Semibold Italic";
$font-extra-light: "Open Sans Light";
$font-light: "Open Sans Light";
$font-bold: "Open Sans Bold";
$font-regular: "Open Sans Regular";
$font-extra-light-i: "Open Sans Extra Light Italic";
$font-light-i: "Open Sans Light Italic";
$font-italic: "Open Sans Italic";
$font-semi-bold: "Open Sans Semi Bold";
